<div class="index-listing" [ngClass]="{ showing: showing }">
  <form [formGroup]="searchForm" style="position: relative">
    <input
      (keyup)="search()"
      class="search-term"
      formControlName="searchTerm"
      placeholder="Type to search"
    />
    <a
      class="icon-clear"
      *ngIf="getIsFiltered()"
      (click)="resetSearchTerm()"
    ></a>
  </form>
  <ul>
    <li *ngFor="let provider of getFiltered()">
      <ul
        class="data-provider"
        [ngClass]="{ 'data-providers-showing': provider.dataProvidersShowing }"
      >
        <li>
          <a
            class="name"
            [ngClass]="{
              'data-providers-loaded': !!provider.dataProviders,
              empty: provider.dataProviders?.length === 0
            }"
            (click)="
              showHide(
                provider.name,
                !provider.dataProvidersShowing,
                provider.dataProviders?.length === 0
              )
            "
            >{{ provider.name
            }}<span class="count">{{ provider.count }}</span></a
          >
        </li>
        <li class="provider" *ngIf="provider.dataProvidersShowing">
          <ul>
            <li *ngFor="let dataProvider of provider.dataProviders">
              <a
                target="_blank"
                href="{{ getUrl(dataProvider.name, dataProvider.isProvider) }}"
                >{{ dataProvider.name
                }}<span class="count">{{ dataProvider.count }}</span></a
              >
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
