apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
#namespace: production
resources:
- deployment.yaml
- statistics-dashboard-ui-service.yaml
- ingress.yaml
configMapGenerator:
- name: statistics-dashboard-ui-environment-production
  envs:
  - env_file
- name: statistics-dashboard-nginx-conf-production
  files:
  - nginx.conf
generatorOptions:
  disableNameSuffixHash: true
  labels:
    type: generated
  annotations:
    note: generated
