@import "../../scss/functions/_icon_urls";
@import "../../scss/_variables";

@font-face {
  font-family: Chevin-Medium;
  src: url("/assets/fonts/chevin/ChevinMedium.otf") format("opentype");
}

.header,
.logo {
  display: flex;
  flex-direction: row;
}

.header {
  align-items: center;
  background: $white;
}

.header-outer {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 12;
}

.logo {
  margin-left: 21px;

  .icon {
    align-self: center;
    background: svg-url-icon-europeana($white) center no-repeat;
    height: 48px;
    transform: translateX(4px);
    width: 39px;
    z-index: 1;
  }

  .icon-wrapper {
    align-content: center;
    color: $white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 73px;
    background-color: $stats-blue;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    &::after {
      border-bottom: 130px solid transparent;
      border-left: 50px solid $white;
      content: "";
      display: block;
      left: -30px;
      position: absolute;
    }
  }

  .text,
  & + .text {
    font-family: Chevin-Medium, serif;
    margin-left: 14px;
  }

  .text {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    line-height: 30px;
  }
}

.country-link {
  -webkit-animation: in 900ms forwards;
  font-size: 20px;
  font-weight: 900;
  color: $linkblue;
  line-height: 0px;
  &:hover {
    color: darken($textcolour_link, 15%);
  }
}

@keyframes in {
  from {
    line-height: 0px;
  }
  to {
    line-height: 30px;
  }
}

.target {
  opacity: 0;
}

:hover > .target {
  opacity: 1;
}

.target {
  $dmOuter: 16px;
  $dmInner: 5px;

  position: relative;

  display: block;
  width: $dmOuter;
  height: $dmOuter;
  border-radius: 50%;
  border: 3px solid $linkblue;
  background-color: white;
  position: relative;

  &::after {
    content: "";
    display: block;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    width: $dmInner;
    height: $dmInner;
    top: 2.7px;
    left: 2.7px;
  }

  z-index: 1;
}

.target-select {
  background-color: #fff;
  border: 1px solid $gray-med;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 0;
  left: 5px;
  top: 5px;

  a {
    color: $gray-med;
    padding: 0.25em 0.5em;
    white-space: nowrap;

    &:hover {
      background-color: $offwhite;
    }
  }
}

.highlight {
  font-weight: bold;
}
