<header class="header-outer">
  <div class="header">
    <a
      class="logo"
      data-e2e="link-home-header"
      routerLink="/"
      [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
    >
      <span class="icon-wrapper">
        <span class="icon"></span>
      </span>
      <span class="text">
        metis statistics
        <br />dashboard
      </span>
    </a>
    <span class="text country-link" data-e2e="link-home-header">
      2025
      <br />2030
    </span>
    <span class="target">
      <span class="target-select">
        <ng-container *ngFor="let country of cd | keyvalue">
          <a
            [routerLink]="['/country', country.key]"
            [ngClass]="{ highlight: country.key === activeCountry }"
          >
            <span>{{ country.key }}</span>
          </a>
        </ng-container>
      </span>
    </span>
  </div>

  <div *ngIf="showPageTitle" class="fit-to-page page-title-wrapper">
    <h1 class="page-title" i18n="landing page title@@landingPageTitle">
      Europeana complete dataset
    </h1>
    <app-ct-zero-control *ngIf="form" [form]="form"></app-ct-zero-control>
  </div>
</header>
