@import "../../scss/functions/_icon_urls";
@import "../../scss/_variables";

@font-face {
  font-family: Chevin-Medium;
  src: url("/assets/fonts/chevin/ChevinMedium.otf") format("opentype");
}

.header,
.logo {
  display: flex;
  flex-direction: row;
}

.header {
  align-items: center;
  background: $white;
}

.header-outer {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 12;
}

.logo {
  margin-left: 21px;

  .icon {
    align-self: center;
    background: svg-url-icon-europeana($white) center no-repeat;
    height: 48px;
    transform: translateX(4px);
    width: 39px;
    z-index: 1;
  }

  .icon-wrapper {
    align-content: center;
    color: $white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 73px;
    background-color: $stats-blue;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    &::after {
      border-bottom: 130px solid transparent;
      border-left: 50px solid $white;
      content: "";
      display: block;
      left: -30px;
      position: absolute;
    }
  }

  .text,
  & + .text {
    font-family: Chevin-Medium, serif;
    margin-left: 14px;
  }

  .text {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    line-height: 30px;
  }
}

.menu-item {
  color: $stats-blue;

  align-items: center;
  display: flex;
  position: relative;

  &:not([disabled]) > .flag-orb {
    opacity: 0;
  }
  &:hover {
    .flag-orb {
      opacity: 1;
    }
  }

  &:hover,
  &[disabled] {
    &.first-of-letter .text::before {
      opacity: 0;
    }
  }

  .flag-orb {
    height: 0.8em;
    width: 0.8em;
  }

  .text {
    padding: 8px 16px 8px 8px;
  }

  &.first-of-letter .text {
    &::before {
      color: $linkblue;
      content: attr(data-text);
      font-weight: 900;
      font-size: 16px;
      font-size: 18px;
      left: -8px;
      padding: 0 8px;
      position: absolute;
      top: 6px;
    }
  }
}

.active-country {
  color: $linkblue;
  font-weight: 600;
  margin-left: 8px;
  white-space: nowrap;
}

.country-select,
.country-select-inner {
  border-radius: 0.5em;
}

.country-select {
  border-width: 0;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.25);

  // prevent inheritance of opener's cursor
  cursor: default;
  height: 0;
  left: -12em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  transition: opacity 0.1s linear;

  // speech bubble decoration
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid $gray-5;
    position: absolute;
    left: 12.25em;
    top: -8px;
    transform: rotate(45deg);
  }

  a {
    white-space: nowrap;
    &[disabled] {
      cursor: default;
      pointer-events: none;
      font-weight: bold;
    }
  }
}

.country-select-inner {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
  max-height: 65vh;
  overflow-y: auto;
  padding: 12px 12px 12px 24px;
  position: relative;
}

.country-menu-opener {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-left: 1.6em;
  position: relative;
  z-index: 1;

  &:hover,
  &.open {
    .active-country {
      color: darken($textcolour_link, 15%);
    }
  }

  &.open {
    .country-select {
      border-width: 1px;
      opacity: 1;
      height: auto;
      overflow: visible;
    }
  }
}

@media (min-width: $bp-small-3) {
  .country-select-inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: $bp-med) {
  .country-select-inner {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: $bp-large) {
  .country-select-inner {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: $bp-xl) {
  .country-select-inner {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.active-country:hover {
  & + .country-closer {
    display: block;
  }
}

.country-closer {
  margin-left: -2px;
  margin-top: 5px;
  display: none;
  padding-left: 6px;
  height: 1.25em;
  width: 1.25em;
  transform: scale(0.9);

  &:hover {
    display: block;
  }
}
