<header class="header-outer">
  <div class="header">
    <a
      class="logo"
      title="home"
      data-e2e="link-home-header"
      routerLink="/"
      [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
    >
      <span class="icon-wrapper">
        <span class="icon"></span>
      </span>
      <span class="text">
        metis statistics
        <br />dashboard
      </span>
    </a>

    <span
      class="country-menu-opener"
      (click)="toggleMenu($event)"
      [ngClass]="{ open: menuIsOpen }"
      appClickAware
      (clickOutside)="menuIsOpen = false"
    >
      <span
        [ngClass]="{
          default: !isoCountryCodes[activeCountry]
        }"
        class="flag-orb {{ isoCountryCodes[activeCountry] }}"
      >
      </span>

      <span class="active-country" (click)="toggleMenu($event)">
        @if(activeCountry) {
        {{ activeCountry }}
        } @else { Country Pages }
      </span>

      <a
        class="country-closer x"
        (click)="closeMenu($event)"
        *ngIf="activeCountry"
        routerLink="/"
        title="home"
      >
      </a>

      <span class="country-select">
        <span class="country-select-inner">
          <ng-container *ngFor="let country of countryTotalMap | keyvalue">
            <a
              (click)="toggleMenu($event)"
              [attr.disabled]="
                country.key === activeCountry ? 'disabled' : null
              "
              [routerLink]="['/country', country.key]"
              class="menu-item"
              [ngClass]="{
                'first-of-letter': !!countryFirstOfLetter[country.key]
              }"
            >
              <span
                class="flag-orb"
                [ngClass]="isoCountryCodes[country.key]"
              ></span>

              <span
                class="text"
                [attr.data-text]="countryFirstOfLetter[country.key]"
                >{{ country.key }}</span
              >
            </a>
          </ng-container>
        </span>
      </span>
    </span>
  </div>

  <div *ngIf="showPageTitle" class="fit-to-page page-title-wrapper">
    <h1 class="page-title" i18n="landing page title@@landingPageTitle">
      Europeana complete dataset
    </h1>
    <app-ct-zero-control *ngIf="form" [form]="form"></app-ct-zero-control>
  </div>
</header>
