<footer class="fit-to-page footer">
  <ul class="links">
    <li class="link-detail">Europeana Foundation</li>
    <li class="link-detail">
      <a
        href="{{ externalLinks.europeana }}"
        rel="noopener"
        target="_blank"
        i18n="Footer link text@@footerLinkTextEuropeanaWebsite"
        >Europeana Website</a
      >
    </li>
    <li class="link-detail">
      <a
        href="{{ externalLinks.pro }}"
        rel="noopener"
        target="_blank"
        i18n="Footer link text@@footerLinkTextEuropeanaPro"
        >Europeana Professional</a
      >
    </li>
    <li class="link-detail">
      <a
        href="{{ externalLinks.api }}"
        rel="noopener"
        target="_blank"
        i18n="Footer link text@@footerLinkTextAPI"
        >Europeana API</a
      >
    </li>
    <li class="link-detail">
      <a routerLink="/cookie-policy"
        ><span i18n="Footer link text@@footerLinkTextCookies"
          >Cookies Policy</span
        ></a
      >
    </li>
    <li class="link-detail">
      <a
        routerLink="/privacy-statement"
        i18n="Footer link text@@footerLinkTextPrivacy"
        >Privacy Statement</a
      >
    </li>
    <li class="link-detail">
      <a
        (click)="clickPrivacySettings()"
        (keydown.enter)="clickPrivacySettings()"
        tabindex="0"
        ><span i18n="Footer link text@@privacySettings"
          >Privacy Settings</span
        ></a
      >
    </li>
  </ul>
  <ul class="legal">
    <li class="container-h flag legal-detail"></li>
    <li class="legal-detail" i18n="Footer legal text 1@@footerLegalText1">
      Europeana is an initiative of the European Union, financed by the European
      Union's Connecting Europe Facility and European Union Member States. The
      Europeana services, including this website, are operated by a consortium
      led by the Europeana Foundation under a service contract with the European
      Commission.
    </li>
    <li class="legal-detail" i18n="Footer legal text 2@@footerLegalText2">
      The European Commission does not guarantee the accuracy of the information
      and accepts no responsibility or liability whatsoever with regard to the
      information on this website. Neither the European Commission, nor any
      person acting on the European Commission's behalf, is responsible or
      liable for the accuracy or use of the information on this website.
    </li>
  </ul>
</footer>
