<footer class="fit-to-page footer">
  <div class="feedback-wrapper">
    <a
      class="external-link"
      data-e2e="feedback-link"
      [href]="feedbackUrl"
      target="_blank"
      >Feedback</a
    >
  </div>
  <ul class="links">
    <li class="link-detail">2021 Europeana Foundation</li>
    <li class="link-detail">
      <a
        href="{{ externalLinks.europeana }}"
        rel="noopener"
        target="_blank"
        i18n="Footer link text@@footerLinkTextEuropeanaWebsite"
        >Europeana Website</a
      >
    </li>
    <li class="link-detail">
      <a
        href="{{ externalLinks.pro }}"
        rel="noopener"
        target="_blank"
        i18n="Footer link text@@footerLinkTextEuropeanaPro"
        >Europeana Professional</a
      >
    </li>
    <li class="link-detail">
      <a
        href="{{ externalLinks.api }}"
        rel="noopener"
        target="_blank"
        i18n="Footer link text@@footerLinkTextAPI"
        >Europeana API</a
      >
    </li>
    <li class="link-detail">
      <a
        href="{{ externalLinks.tos }}"
        rel="noopener"
        target="_blank"
        i18n="Footer link text@@footerLinkTextTOS"
        >Terms of Service</a
      >
    </li>
    <li class="link-detail">
      <a
        href="{{ externalLinks.privacy }}"
        rel="noopener"
        target="_blank"
        i18n="Footer link text@@footerLinkTextPrivacy"
        >Privacy Policy</a
      >
    </li>
  </ul>
  <ul class="legal">
    <li class="container-h flag legal-detail">
      <span class="flag-icon"></span>
      <span class="flag-text" i18n="Footer flag text 1@@footerEUFlagText"
        >Co-financed by the Connecting Europe Facility of the European
        Union</span
      >
    </li>
    <li class="legal-detail" i18n="Footer legal text 1@@footerLegalText1">
      Europeana is an initiative of the European Union, financed by the European
      Union's Connecting Europe Facility and European Union Member States. The
      Europeana services, including this website, are operated by a consortium
      led by the Europeana Foundation under a service contract with the European
      Commission.
    </li>
    <li class="legal-detail" i18n="Footer legal text 2@@footerLegalText2">
      The European Commission does not guarantee the accuracy of the information
      and accepts no responsibility or liability whatsoever with regard to the
      information on this website. Neither the European Commission, nor any
      person acting on the European Commission's behalf, is responsible or
      liable for the accuracy or use of the information on this website.
    </li>
  </ul>
</footer>
