@import "../../scss/_variables";

.links {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;

  @media (min-width: $bp-xxl) {
    flex-direction: row;

    li:not(:last-child)::after {
      content: "|";
      display: inline-block;
      text-align: center;
      width: 16px;
    }
  }
}
