<footer class="fit-to-page footer">
  <ul class="links">
    <li>2021 Europeana Foundation</li>
    <li>
      <a href="{{ externalLinks.europeana }}" rel="noopener" target="_blank"
        >Europeana Website</a
      >
    </li>
    <li>
      <a href="{{ externalLinks.pro }}" rel="noopener" target="_blank"
        >Europeana Professional</a
      >
    </li>
    <li>
      <a href="{{ externalLinks.api }}" rel="noopener" target="_blank"
        >Europeana API</a
      >
    </li>
    <li>
      <a href="{{ externalLinks.tos }}" rel="noopener" target="_blank"
        >Terms of Service</a
      >
    </li>
    <li>
      <a href="{{ externalLinks.privacy }}" rel="noopener" target="_blank"
        >Privacy Policy</a
      >
    </li>
  </ul>
  <ul class="legal">
    <li class="flag"></li>
    <li i18n="footer legal text 1@@footerLegalText1">
      Europeana is an initiative of the European Union, financed by the European
      Union's Connecting Europe Facility and European Union Member States. The
      Europeana services, including this website, are operated by a consortium
      led by the Europeana Foundation under a service contract with the European
      Commission.
    </li>
    <li i18n="footer legal text 2@@footerLegalText2">
      The European Commission does not guarantee the accuracy of the information
      and accepts no responsibility or liability whatsoever with regard to the
      information on this website. Neither the European Commission, nor any
      person acting on the European Commission's behalf, is responsible or
      liable for the accuracy or use of the information on this website.
    </li>
  </ul>
</footer>
