@import "../../scss/_variables";

.compare-data {
  display: flex;
  position: relative;
}

.compare-data-link {
  color: $gray-faint;
  font-size: 14px;

  .legend-square {
    display: inline-block;
    margin-right: 6px;
    pointer-events: none;
    height: 14px;
    width: 14px;
  }

  &:not(.applied) {
    .legend-square {
      border: 1px solid $gray-faint;
    }
  }

  &.applied {
    font-weight: 600;
    .legend-square {
      pointer-events: all;
    }
  }

  .editable {
    caret-color: transparent;
    outline: 0px solid transparent;
  }

  &:hover + .save,
  & + .save:hover {
    opacity: 1;
  }
}

.comparison-list + .comparison-list {
  font-size: 8px;
}

.current {
  cursor: default;
}

.snapshots {
  margin: 0 0 $spacing-m 16px;

  .comparison-list {
    display: inline-flex;
    flex-direction: column;
  }
}
