@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";
@import "../../scss/functions/_replace";

$card-header-pixels-line-height: 24px;
$card-header-pixels-margin-bottom: 12px;
$card-header-height: $card-header-pixels-line-height +
  $card-header-pixels-margin-bottom;

app-truncate {
  overflow: hidden;
}

app-bar-chart {
  height: 100%;
}

.container-h {
  justify-content: space-between;
}

.data-link {
  color: $stats-blue;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 14px 0 0 auto;

  &::after {
    content: " >";
  }
}

.data-rows {
  font-size: 12px;
  width: 100%;
}

.data-rows-title {
  color: $gray-faint;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 0 14px 0;
}

.entry-card {
  padding: 18px 12px;
  width: 100%;

  @media (min-width: $bp-desktop) {
    padding: 16px;
  }
}

.entry-card-content {
  background: $white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$card-header-height});
  justify-content: space-between;
  padding: 26px 25px 20px 25px;
}

.entry-card-header {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  line-height: $card-header-pixels-line-height;
  margin-bottom: $card-header-pixels-margin-bottom;
  text-transform: uppercase;
  display: flex;
}

.entry-card-pair {
  width: 100%;
  @media (min-width: $bp-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .entry-card {
      width: 50%;
    }
  }
}

.map-container {
  width: 100%;
  max-width: 100%;

  & + .data-rows {
    width: 100%;
  }
}

.record-list {
  align-items: center;
  border-top: 1px solid $gray-5;
  padding: 4px 0;

  &:last-child {
    border-bottom: 1px solid $gray-5;
  }

  :first-child {
    flex-grow: 1;
  }

  .numeric {
    margin-left: 6px;
    text-align: right;
    min-width: 6em;
  }
}

.splash-map {
  border: 1px solid $near-black;
  font-size: 22px;
  height: calc(100% - 8em);
  margin: 4em;
  overflow: hidden;
  padding: 1.5em;
  position: fixed;
  width: calc(100% - 8em);
  z-index: 1;
}

@media (min-width: $bp-desktop) {
  .double-card .data-rows {
    margin-left: 2em;
  }

  .map-container {
    max-width: 50%;
  }

  .map-container + .data-rows {
    width: 50%;
  }
}
