<main
  class="fit-to-page landing-page"
  [ngClass]="{
    'loading-modal': isLoading && !hasData(),
    loading: isLoading && hasData()
  }"
>
  <app-resize (sizeChanged)="refreshCharts()"></app-resize>

  <ng-template #chartSummary let-dimension="facetName">
    <span
      class="container-h totals"
      *ngIf="landingData[dimension] && landingData[dimension][0]; let data"
    >
      <span class="container-v">
        <span
          class="total-title bold"
          i18n="landing chart summary prefix@@landingChartSummaryPrefix"
          >Top
          {{ dimension | renameApiFacetShort | lowercase }}
        </span>
        <span class="total bold">{{ data.name }}</span>
      </span>
      <span class="container-v">
        <span
          class="total-title"
          i18n="landing chart summary prefix@@landingChartSummaryCount"
        >
          Top {{ dimension | renameApiFacetShort | lowercase }} records
          count</span
        >
        <span class="total">{{ data.value | number }}</span>
      </span>
      <span class="container-v">
        <span
          class="total-title"
          i18n="landing chart summary percentage@@landingChartSummaryPercentage"
          >Corresponding percentage</span
        >
        <span class="total">{{ data.percent }}%</span>
      </span>
    </span>
  </ng-template>

  <ng-template
    #dataRows
    let-dimension="facetName"
    let-countryLink="countryLink"
  >
    <div class="container-v data-rows" *ngIf="landingData[dimension]; let data">
      <div class="container-h data-rows-title">
        <span>{{ dimension | renameApiFacet | uppercase }}</span>
        <span i18n="landing data header@@landingDataHeader"
          >RECORDS PROVIDED</span
        >
      </div>
      <div *ngFor="let row of data.slice(0, 8)" class="container-h record-list">
        @if (countryLink){
        <a [routerLink]="['/country', row.name]">
          <span>{{ row.name }}<span class="target"></span></span>
        </a>
        } @else {
        <app-truncate class="app-truncate" [text]="row.name"></app-truncate>
        }
        <span class="numeric">{{ row.value | number }}</span>
        <span class="numeric">{{ row.percent }}%</span>
      </div>
    </div>
  </ng-template>

  <div class="container-v">
    <div class="entry-card-pair">
      <div
        class="entry-card"
        *ngIf="landingData[DimensionName.contentTier]; let data"
      >
        <span
          class="entry-card-header"
          i18n="landing section title edm@@landingSectionTitleEDM"
          >Explore by content quality<a
            class="info-icon"
            [href]="externalLinks.help.contentTier.href"
            target="_blank"
            [title]="externalLinks.help.contentTier.description"
          ></a
        ></span>
        <div class="entry-card-content">
          <ng-content
            *ngTemplateOutlet="
              chartSummary;
              context: {
                facetName: DimensionName.contentTier
              }
            "
          ></ng-content>
          <app-bar-chart
            class="app-bar-chart"
            [colours]="[barColour]"
            chartId="contentTypeChart"
            [extraSettings]="{ prefixValueAxis: 'Tier' }"
            [results]="data"
          ></app-bar-chart>
          <a
            class="data-link"
            routerLink="/data/{{ DimensionName.contentTier }}"
            [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
            data-e2e="link-entry-ct"
            i18n="landing section link edm@@landingSectionLinkEDM"
            >View by content tier</a
          >
        </div>
      </div>
      <div
        class="entry-card"
        *ngIf="landingData[DimensionName.metadataTier]; let data"
      >
        <span
          class="entry-card-header"
          i18n="landing section title metadata@@landingSectionTitleMetadata"
          >Explore by metadata quality<a
            class="info-icon"
            [href]="externalLinks.help.metadataTier.href"
            target="_blank"
            [title]="externalLinks.help.metadataTier.description"
          ></a
        ></span>
        <div class="entry-card-content">
          <ng-content
            *ngTemplateOutlet="
              chartSummary;
              context: {
                facetName: DimensionName.metadataTier
              }
            "
          ></ng-content>
          <app-bar-chart
            [colours]="[barColour]"
            chartId="metadataTierChart"
            [extraSettings]="{ prefixValueAxis: 'Tier' }"
            [results]="data"
          ></app-bar-chart>
          <a
            class="data-link"
            routerLink="/data/{{ DimensionName.metadataTier }}"
            [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
            data-e2e="link-entry-metadata"
            i18n="landing section link metadata@@landingSectionLinkMetadata"
            >View by metadata tier</a
          >
        </div>
      </div>
    </div>

    <div
      class="entry-card double-card"
      *ngIf="landingData[DimensionName.country]; let data"
    >
      <span
        class="entry-card-header"
        i18n="landing section title countries@@landingSectionTitleCountries"
        >Explore by providing countries</span
      >
      <div class="entry-card-content">
        <div class="entry-card-pair">
          <div class="map-container">
            <app-map-chart [results]="data"></app-map-chart>
          </div>
          <ng-content
            *ngTemplateOutlet="
              dataRows;
              context: { facetName: DimensionName.country, countryLink: true }
            "
          ></ng-content>
        </div>
        <a
          class="data-link"
          routerLink="/data/{{ DimensionName.country }}"
          [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
          data-e2e="link-entry-country"
          i18n="landing section link countries@@landingSectionLinkCountries"
          >View by countries</a
        >
      </div>
    </div>

    <div class="entry-card-pair">
      <div class="entry-card" *ngIf="landingData[DimensionName.type]; let data">
        <span
          class="entry-card-header"
          i18n="landing section title type@@landingSectionTitleType"
          >Explore by type of content</span
        >
        <div class="entry-card-content">
          <ng-content
            *ngTemplateOutlet="
              chartSummary;
              context: { facetName: DimensionName.type }
            "
          ></ng-content>
          <app-bar-chart
            [colours]="[barColour]"
            chartId="typeChart"
            [results]="data"
          ></app-bar-chart>
          <a
            class="data-link"
            routerLink="/data/{{ DimensionName.type }}"
            [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
            data-e2e="link-entry-type"
            i18n="landing section link type@@landingSectionLinkType"
            >View by type</a
          >
        </div>
      </div>
      <div class="entry-card" *ngIf="landingData[DimensionName.rightsCategory]">
        <span
          class="entry-card-header"
          i18n="landing section title rights@@landingSectionTitleRights"
          >Explore by rights category<a
            class="info-icon"
            [href]="externalLinks.help.rights.href"
            target="_blank"
            [title]="externalLinks.help.rights.description"
          ></a
        ></span>
        <div class="entry-card-content">
          <div class="container-h">
            <ng-content
              *ngTemplateOutlet="
                dataRows;
                context: {
                  facetName: DimensionName.rightsCategory
                }
              "
            ></ng-content>
          </div>
          <a
            class="data-link"
            routerLink="/data/{{ DimensionName.rightsCategory }}"
            [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
            data-e2e="link-entry-rights"
            i18n="landing section link rights@@landingSectionLinkRights"
            >View by rights category</a
          >
        </div>
      </div>
    </div>

    <div class="entry-card-pair">
      <div class="entry-card" *ngIf="landingData[DimensionName.dataProvider]">
        <span
          class="entry-card-header"
          i18n="
            landing section title data provider@@landingSectionTitleDataProvider"
          >Explore by data provider</span
        >
        <div class="entry-card-content">
          <div class="container-h">
            <ng-content
              *ngTemplateOutlet="
                dataRows;
                context: {
                  facetName: DimensionName.dataProvider
                }
              "
            ></ng-content>
          </div>
          <a
            class="data-link"
            routerLink="/data/{{ DimensionName.dataProvider }}"
            [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
            data-e2e="link-entry-data-provider"
            i18n="
              landing section link data provider@@landingSectionLinkDataProvider"
            >View by data provider</a
          >
        </div>
      </div>
      <div class="entry-card" *ngIf="landingData[DimensionName.provider]">
        <span
          class="entry-card-header"
          i18n="landing section title provider@@landingSectionTitleProvider"
          >Explore by provider<a
            class="info-icon"
            [href]="externalLinks.help.provider.href"
            target="_blank"
            [title]="externalLinks.help.provider.description"
          ></a
        ></span>
        <div class="entry-card-content">
          <div class="container-h">
            <ng-content
              *ngTemplateOutlet="
                dataRows;
                context: {
                  facetName: DimensionName.provider
                }
              "
            ></ng-content>
          </div>
          <a
            class="data-link"
            routerLink="/data/{{ DimensionName.provider }}"
            [queryParams]="includeCTZero ? { 'content-tier-zero': true } : {}"
            data-e2e="link-entry-provider"
            i18n="landing section link provider@@landingSectionLinkProvider"
            >View by provider</a
          >
        </div>
      </div>
    </div>
  </div>
</main>
