@use "../../scss/variables";
@use "../../scss/functions/icon_urls";

$card-header-pixels-line-height: 24px;
$card-header-pixels-margin-bottom: 12px;
$card-header-height: $card-header-pixels-line-height +
  $card-header-pixels-margin-bottom;

a[disabled] {
  cursor: default;
  pointer-events: none;
}

.relative {
  position: relative;
}

.map-help-target {
  min-width: 24em;
  max-width: 24em;
  opacity: 0;
  position: absolute;
  right: -3em;
  text-align: center;
  visibility: hidden;
  transition: opacity 0.3s linear;
  z-index: 1;

  &:hover {
    opacity: 1;
    visibility: visible;
  }

  &.help-total {
    top: -4.5em;
  }
  &.help-high_quality {
    top: -8em;
  }
  &.help-three_d {
    top: -6em;
  }
}

.app-truncate {
  overflow: hidden;
}

.app-bar-chart {
  height: 100%;
}

.container-h {
  justify-content: space-between;
  align-items: center;
}

.data-link {
  color: variables.$stats-blue;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 14px 0 0 auto;

  &::after {
    content: " >";
  }
  &:focus-visible {
    z-index: 12;
  }
}

.data-rows {
  font-size: 12px;
  width: 100%;
  position: relative;
}

.data-rows-title {
  color: variables.$gray-faint;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 0 14px 0;
  .x {
    margin-left: 0.6em;
  }
}

.entry-card {
  padding: 18px 12px;
  width: 100%;

  @media (min-width: variables.$bp-desktop) {
    padding: 16px;
  }
}

.entry-card-content {
  background: variables.$white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$card-header-height});
  justify-content: space-between;
  padding: 26px 25px 20px 25px;
}

.entry-card-header {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  line-height: $card-header-pixels-line-height;
  margin-bottom: $card-header-pixels-margin-bottom;
  position: relative;
  text-transform: uppercase;

  .info-icon {
    &::after {
      background-image: icon_urls.svg-url-icon-spinner(variables.$gray-light);
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      opacity: 0;
      left: 0;
      top: -50%;
      transition: opacity variables.$transition-duration ease-in-out;
    }
  }
  a.info-icon {
    &::after {
      // shorten line
      left: 18px;
    }
  }
}

.entry-card-multi {
  position: relative;
}

.entry-card-multi,
.entry-card-pair {
  width: 100%;
  @media (min-width: variables.$bp-desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .entry-card {
      width: 50%;
    }
  }
}

.loading .entry-card-header {
  .info-icon {
    &::after {
      opacity: 1;
    }
  }
}

.map-container {
  position: relative;
  max-width: 100%;
  width: 100%;

  & + .data-rows {
    width: 100%;
  }
  height: variables.$map-height;
}

.record-list {
  align-items: center;
  border-top: 1px solid variables.$gray-5;

  &:last-child {
    border-bottom: 1px solid variables.$gray-5;
  }

  :first-child:not(.map-navigation-link) {
    flex-grow: 1;
  }
}

.record-list,
.target-summary {
  .numeric {
    text-align: right;
    & + .numeric:not(.shrink) {
      min-width: 6em;
    }
  }
}

.map-section {
  .link-select-country,
  .link-open-country {
    color: unset;
    .flag-orb {
      height: 1em;
      top: 2px;
      width: 1em;
    }
  }

  .link-open-country {
    .flag-orb {
      margin-right: 1rem;
    }
  }

  .link-select-country {
    .flag-orb {
      opacity: 0;
      margin-left: 7px;
    }
    &:hover {
      .flag-orb {
        opacity: 1;
      }
    }

    &:focus-visible {
      outline: 0;
      z-index: 12;
      span {
        background: #fff;
        border: 1px solid variables.$focus-highlight-colour;
      }
      .flag-orb {
        display: none;
      }
    }
  }
}

@media (min-width: variables.$bp-desktop) {
  .double-card .data-rows {
    margin-left: 2em;
  }

  .map-container {
    max-width: 50%;
  }

  .map-container + .data-rows {
    width: 50%;
  }
}
