@import "../../scss/_variables";

$appendice-grid-num-cols: 14;
$row-height: 1.6rem;
$grid-height: 20em;
$window-size: $row-height;

.appendice-grid {
  display: grid;
  grid-template-columns:
    minmax(10em, 1fr)
    auto
    1.6rem
    auto
    auto
    auto
    1.6rem
    auto
    auto
    auto
    1.6rem
    auto
    auto
    auto;
  margin-top: -1rem;
  text-align: right;

  .cell-bold {
    font-weight: 600;
  }

  .cell-header {
    transform: translateY(2rem);
    z-index: 2;

    &:not(.window) {
      background-color: #fff;
    }
    &.window {
      content: "";
      max-width: $window-size;
      width: $window-size;
      height: $window-size;
      padding: 4px 0;

      .window-frame {
        box-sizing: border-box;
        border: 6px solid #fff;
        width: $window-size;
        height: $window-size;
        display: block;
      }

      &::after {
        // mask
        background: #fff;
        content: "";
        display: block;
        height: $grid-height;
        left: 0;
        position: absolute;
        top: $window-size;
        width: $window-size;
      }
    }
  }

  .cell-left {
    text-align: left;
  }

  .cell-line {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: transparent;
  }

  .cell-live {
    background-color: #fff;
    color: #777;
    z-index: 1;
  }

  .diminished {
    color: #777;
    line-height: calc(4px + 1.6rem);
  }

  .cell-target,
  .diminished {
    font-size: 10px;
    font-weight: bold;
  }

  .cell-target {
    height: $row-height;
    line-height: $row-height;
  }

  :not(.cell-header) {
    font-style: italic;
    color: #777;
  }
}

.appendice-grid-sticky-row {
  background-color: #fff;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / calc($appendice-grid-num-cols + 1);
  position: sticky;
  top: 0;

  .cell-live {
    z-index: 0;
  }
}

.appendice-grid-scrollable-section {
  display: grid;
  grid-column: 1 / calc($appendice-grid-num-cols + 1);
  grid-template-columns: subgrid;
  max-height: $grid-height;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: $window-size;

  @media (min-width: $bp-xxl) {
    font-size: 14px;
  }
}

.cell-header,
.cell-left,
.cell-live,
.cell-target {
  padding: 4px 1em;
}

.cell-pad-right {
  padding-right: 1rem;

  &.cell-header {
    padding-right: 2rem;
  }
}

.double {
  grid-template-columns:
    minmax(10em, 1fr)
    auto
    1.6rem
    auto
    auto
    auto
    1.6rem
    auto
    auto
    auto;

  .appendice-grid-scrollable-section,
  .appendice-grid-sticky-row {
    grid-column: 1 / calc(($appendice-grid-num-cols - 4) + 1);
  }
}

.single {
  &.appendice-grid {
    grid-template-columns:
      minmax(10em, 1fr)
      auto
      1.6rem
      auto
      auto
      auto;
  }

  .appendice-grid-scrollable-section,
  .appendice-grid-sticky-row {
    grid-column: 1 / calc(($appendice-grid-num-cols - 8) + 1);
  }
}

.window-pane {
  transform: translateY(-2.5em);
}
