@if (isVisible() && gridRows().length > 0) {
<ng-template #linkOut let-row="row" let-total="row.isTotal">
  <span class="cell-link-out" [ngClass]="{ highlight: row.highlight }">
    <a
      [attr.aria-label]="'View ' + row.name + ' in Europeana'"
      target="_blank"
      class="link-out"
      [href]="row.portalUrlInfo.href"
      (mouseenter)="loadFullLink(row)"
      (contextmenu)="loadFullLink(row)"
      (click)="loadFullLink(row, true)"
    ></a>
  </span>
</ng-template>

<ng-template #seriesColour let-row="row">
  <span
    class="series-colour"
    [ngStyle]="{
      backgroundColor: colours[row['colourIndex']]
    }"
  ></span>
</ng-template>

<ng-template #cellHeader let-label="label" let-sortBy="sortBy" let-e2e="e2e">
  <span
    class="cell-header"
    data-e2e="grid-sort-count"
    [ngClass]="{
      active: sortInfo().by === sortBy,
      ascending: sortInfo().dir === 1,
      descending: sortInfo().dir === -1,
      'text-right': sortBy === SortBy.count,
      'cell-first-wide': sortBy === SortBy.name
    }"
    ><a (click)="sort(sortBy)">{{ label }}</a></span
  >
</ng-template>

<div class="data-grid" [ngClass]="{ 'with-series': isShowingSeriesInfo() }">
  <span class="search-control container-h cell-first-wide">
    <span class="search-icon"></span>
    <input
      class="search"
      i18n-placeholder="Search grid rows input@@gridSearchPlaceholder"
      placeholder="Search ({{ gridRows().length }} entries)"
      [ngModel]="filterTerm()"
      (ngModelChange)="filterTerm.set($event)"
      (keyup)="updateRows($event)"
    />
  </span>

  <span class="navigation-controls container-h">
    @if (pagerInfo(); as currentPager) { @if (currentPager.pageCount > 0) {
    <span class="conditional-controls container-h">
      <label for="maxPageSize" i18n="Rows per page@@gridRowsPerPage"
        >Rows per page</label
      >
      <select
        id="maxPageSize"
        class="max-page-size"
        [ngModel]="maxPageSize()"
        (ngModelChange)="maxPageSize.set($event)"
      >
        @for (mps of maxPageSizes; track mps.value) {
        <option [ngValue]="mps.value">
          {{ mps.title }}
        </option>
        }
      </select>
      <label for="goTo" i18n="Got to page@@gridGoToPage">Go to</label>
      <input
        id="goTo"
        pattern="[0-9]+"
        class="go-to"
        (keyup)="goToPage($event)"
        placeholder="{{ currentPager.currentPage + 1 }}"
      />
    </span>
    } }

    <app-grid-paginator
      #paginator
      [maxPageSize]="maxPageSize()"
      [rows]="gridRows()"
      (change)="setPagerInfo($event)"
    ></app-grid-paginator>
  </span>

  <ng-container
    *ngTemplateOutlet="
      cellHeader;
      context: {
        label: colHeaders[0] + ' ' + (facet() | renameApiFacet),
        sortBy: SortBy.name
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      cellHeader;
      context: {
        label: colHeaders[1],
        sortBy: SortBy.count,
        e2e: 'grid-sort-count'
      }
    "
  ></ng-container>

  <ng-container
    *ngTemplateOutlet="
      cellHeader;
      context: { label: colHeaders[2], sortBy: SortBy.count }
    "
  ></ng-container>

  <span class="cell-header">{{ colHeaders[3] }}</span>

  <ng-container>
    <!-- Summary rows -->
    <ng-template #labelTotal><span class="bold">Total</span></ng-template>

    @for (row of summaryRows(); track row.name) {
    <span class="cell-prefix">
      @if (isShowingSeriesInfo()) {
      <span class="container-h">
        <ng-container
          *ngTemplateOutlet="seriesColour; context: { row: row }"
        ></ng-container>
      </span>
      }
    </span>

    <span class="cell-name cell-wide">
      @if (isShowingSeriesInfo()) {
      {{ row.series }}
      } @else {
      <ng-container *ngTemplateOutlet="labelTotal"></ng-container>
      }
    </span>

    <span class="bold black text-right">
      {{ row.count | number }}
    </span>
    <span class="black text-right total percent-value">
      {{ row.percent }}%
    </span>

    <ng-container
      *ngTemplateOutlet="linkOut; context: { row: row }"
    ></ng-container>
    }

    <!-- Rows -->
    @if (pagerInfo(); as currentPager) { @for (row of currentPager.pageRows;
    track row.name; let i = $index) {
    <span [ngClass]="{ highlight: row.highlight }">
      {{ row.displayIndex }}
    </span>

    <span
      class="cell-name"
      [ngClass]="{
        highlight: row.highlight,
        'highlighting-terms': filterTerm().length > 0
      }"
      data-e2e="grid-row-name"
      [title]="row.name"
    >
      <app-truncate
        [text]="getPrefix() + row.name"
        [highlightText]="filterTerm()"
      ></app-truncate>
    </span>

    @if (isShowingSeriesInfo()) {
    <span
      class="cell-series container-h"
      [ngClass]="{ highlight: row.highlight }"
    >
      <ng-container
        *ngTemplateOutlet="seriesColour; context: { row: row }"
      ></ng-container>
    </span>
    }

    <span
      class="text-right"
      [ngClass]="{
        highlight: row.highlight,
        bold: row.isTotal
      }"
    >
      {{ row.count | number }}
    </span>

    <span
      class="text-right total percent-value"
      [ngClass]="{ highlight: row.highlight }"
    >
      {{ row.percent }}%
    </span>

    <ng-container
      *ngTemplateOutlet="linkOut; context: { row: row }"
    ></ng-container>
    } }
  </ng-container>
</div>
}
