<div *ngIf="gridRows">
  <div class="data-grid" [ngClass]="{ 'with-series': showingSeriesInfo }">
    <span class="cell-wide search-control container-h">
      <span class="search-icon"></span>
      <input
        class="search"
        placeholder="Search..."
        [(ngModel)]="filterString"
        (keyup)="updateRows()"
      />
    </span>

    <span class="navigation-controls container-h">
      <span *ngIf="pagesAvailable > 1" class="container-h">
        <span>Rows per page</span>
        <select class="max-page-size" [(ngModel)]="maxPageSize">
          <option *ngFor="let mps of maxPageSizes" [ngValue]="mps.value">
            {{ mps.title }}
          </option>
        </select>
        <span>Go to</span>
        <input pattern="[0-9]+" class="go-to" (keyup)="goToPage($event)" />
      </span>

      <app-grid-paginator
        #paginator
        [maxPageSize]="maxPageSize"
        [rows]="gridRows"
        (change)="setPagerInfo($event)"
      ></app-grid-paginator>
    </span>

    <span class="cell-header cell-wide">
      {{ title }}
    </span>

    <span
      class="cell-header"
      data-e2e="grid-sort-count"
      [ngClass]="{
        active: sortStates['count'] !== 0,
        descending: sortStates['count'] === -1
      }"
      ><a (click)="sort('count')">Count</a></span
    >

    <span
      class="cell-header"
      [ngClass]="{
        active: sortStates['percent'] !== 0,
        descending: sortStates['percent'] === -1
      }"
      ><a (click)="sort('percent')">Percent</a></span
    >

    <span class="cell-header">View in Europeana</span>

    <ng-container *ngFor="let row of pageRows; let i = index">
      <span
        class="cell-name"
        [ngClass]="{ highlight: row.highlight }"
        data-e2e="grid-row-name"
        [title]="row.name"
      >
        <app-truncate [text]="row.name"></app-truncate>
      </span>

      <span
        *ngIf="showingSeriesInfo"
        class="cell-series container-h"
        [ngClass]="{ highlight: row.highlight }"
      >
        <span
          class="series-colour"
          [ngStyle]="{
            backgroundColor: colours[row['colourIndex']]
          }"
        ></span>
        <span class="series-info" [title]="row.series">
          <app-truncate [text]="row.series"></app-truncate>
        </span>
      </span>

      <span class="text-right" [ngClass]="{ highlight: row.highlight }">
        {{ row.count }}
      </span>

      <span class="text-right" [ngClass]="{ highlight: row.highlight }">
        {{ row.percent }}%
      </span>

      <span class="cell-link-out" [ngClass]="{ highlight: row.highlight }">
        <a target="_blank" class="link-out" [href]="getUrlRow(row.name)"></a>
      </span>
    </ng-container>
  </div>
</div>
