<div *ngIf="gridRows">
  <ng-template #linkOut let-row="row" let-total="row.isTotal">
    <span class="cell-link-out" [ngClass]="{ highlight: row.highlight }">
      <a
        target="_blank"
        class="link-out"
        [href]="getUrlRow(total ? null : row.name)"
      ></a>
    </span>
  </ng-template>

  <ng-template #seriesColour let-row="row">
    <span
      class="series-colour"
      [ngStyle]="{
        backgroundColor: colours[row['colourIndex']]
      }"
    ></span>
  </ng-template>

  <ng-template #cellHeader let-label="label" let-sortBy="sortBy" let-e2e="e2e">
    <span
      class="cell-header"
      data-e2e="grid-sort-count"
      [ngClass]="{
        active: sortInfo.by === sortBy,
        ascending: sortInfo.dir === 1,
        descending: sortInfo.dir === -1,
        'text-right': sortBy === SortBy.count,
        'cell-first-wide': sortBy === SortBy.name
      }"
      ><a (click)="sort(sortBy)">{{ label }}</a></span
    >
  </ng-template>

  <div class="data-grid" [ngClass]="{ 'with-series': isShowingSeriesInfo }">
    <span class="search-control container-h cell-first-wide">
      <span class="search-icon"></span>
      <input
        class="search"
        placeholder="Search..."
        [(ngModel)]="filterTerm"
        (keyup)="updateRows($event)"
      />
    </span>

    <span class="navigation-controls container-h">
      <span
        class="conditional-controls container-h"
        *ngIf="pagerInfo && pagerInfo.pageCount > 0"
      >
        <label for="maxPageSize">Rows per page:</label>
        <select
          id="maxPageSize"
          class="max-page-size"
          [(ngModel)]="maxPageSize"
        >
          <option *ngFor="let mps of maxPageSizes" [ngValue]="mps.value">
            {{ mps.title }}
          </option>
        </select>
        <label for="goTo">Go to:</label>
        <input
          id="goTo"
          pattern="[0-9]+"
          class="go-to"
          (keyup)="goToPage($event)"
          placeholder="{{ pagerInfo.currentPage + 1 }}"
        />
      </span>

      <app-grid-paginator
        #paginator
        [maxPageSize]="maxPageSize"
        [rows]="gridRows"
        (change)="setPagerInfo($event)"
      ></app-grid-paginator>
    </span>

    <ng-content
      *ngTemplateOutlet="
        cellHeader;
        context: { label: 'Records by ' + facet, sortBy: SortBy.name }
      "
    ></ng-content>

    <ng-content
      *ngTemplateOutlet="
        cellHeader;
        context: {
          label: 'Count',
          sortBy: SortBy.count,
          e2e: 'grid-sort-count'
        }
      "
    ></ng-content>

    <ng-content
      *ngTemplateOutlet="
        cellHeader;
        context: { label: 'Percent', sortBy: SortBy.count }
      "
    ></ng-content>

    <span class="cell-header">View in Europeana</span>

    <ng-container>
      <!-- Summary rows -->
      <ng-template #labelTotal><span class="bold">Total</span></ng-template>

      <ng-container *ngFor="let row of summaryRows">
        <span class="cell-prefix">
          <ng-container *ngIf="isShowingSeriesInfo">
            <span class="container-h">
              <ng-content
                *ngTemplateOutlet="seriesColour; context: { row: row }"
              ></ng-content>
            </span>
          </ng-container>
        </span>

        <span class="cell-name cell-wide">
          <ng-container *ngIf="isShowingSeriesInfo; else labelTotal">
            {{ row.series }}
          </ng-container>
        </span>

        <span class="bold black text-right">
          {{ row.count | number }}
        </span>
        <span class="black text-right"> {{ row.percent }}% </span>

        <ng-content
          *ngTemplateOutlet="linkOut; context: { row: row }"
        ></ng-content>
      </ng-container>

      <!-- Rows -->

      <ng-container *ngIf="pagerInfo">
        <ng-container *ngFor="let row of pagerInfo.pageRows; let i = index">
          <span [ngClass]="{ highlight: row.highlight }">
            {{ row.displayIndex }}
          </span>

          <span
            class="cell-name"
            [ngClass]="{
              highlight: row.highlight,
              'highlighting-terms': filterTerm.length > 0
            }"
            data-e2e="grid-row-name"
            [title]="row.name"
          >
            <app-truncate
              [text]="getPrefix() + row.name | renameRights"
              [highlightText]="filterTerm"
            ></app-truncate>
          </span>

          <span
            *ngIf="isShowingSeriesInfo"
            class="cell-series container-h"
            [ngClass]="{ highlight: row.highlight }"
          >
            <ng-content
              *ngTemplateOutlet="seriesColour; context: { row: row }"
            ></ng-content>
            <!-- TODO: do we need this text or is it redundant and unwieldy?
          <span class="series-info" [title]="row.series">
            {{ row.series }}
          </span>
          -->
          </span>

          <span
            class="text-right"
            [ngClass]="{
              highlight: row.highlight,
              bold: row.isTotal
            }"
          >
            {{ row.count | number }}
          </span>

          <span class="text-right" [ngClass]="{ highlight: row.highlight }">
            {{ row.percent }}%
          </span>

          <ng-content
            *ngTemplateOutlet="linkOut; context: { row: row }"
          ></ng-content>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
