@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";

$series-colour-width: 3px;

.cell-header {
  border-top: 1px solid $gray-5;
  position: relative;

  &.active {
    font-weight: 600;
    &::after {
      content: "⌄";
    }
  }
  &.descending::after {
    top: 3px;
    transform: rotate(0deg);
  }

  &::after {
    line-height: 12px;
    position: absolute;
    right: $spacing-s;
    top: 10px;
    transform: rotate(180deg);
  }
}

.cell-header,
a {
  color: #000;
}

.cell-link-out {
  text-align: center;
}

.cell-name {
  border-right: 1px solid $gray-5;
  font-weight: 600;
}

.cell-series,
.cell-wide {
  border-right: 1px solid $gray-5;
}

.container-h {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.data-grid {
  display: grid;
  font-size: 12px;
  grid-template-columns: minmax(8em, 3fr) auto auto auto;

  > .navigation-controls {
    grid-column: 2 / 5;
  }

  &.with-series {
    //grid-template-columns: minmax(8em, 3fr) auto auto auto auto;
    grid-template-columns: minmax(8em, 4fr) minmax(8em, 2fr) auto auto auto;

    > .cell-name {
      border-right: 0;
    }

    > .cell-wide {
      grid-column: 1 / 3;
    }
    > .navigation-controls {
      grid-column: 3 / 6;
    }
  }

  > span {
    padding: 2px 20px;
    &:not(.navigation-controls, .search-control) {
      border-bottom: 1px solid $gray-5;
    }
  }
}

.highlight {
  background-color: $offwhite;
}

.go-to,
.max-page-size {
  background: transparent;
  border: 0;
  width: 35px;
}

.link-out {
  background: svg-url-icon-external($gray-faint) no-repeat;
  display: inline-block;
  width: 12px;
  height: 12px;
}

.navigation-controls {
  justify-content: space-between;
}

.search {
  border: none;
  box-shadow: none;
  margin-left: 4px;
  width: 100%;
}

.search-control,
.navigation-controls {
  border-top: 1px solid $gray-5;
  color: $gray-faint;
  font-size: 11px;
}

.search-icon {
  background: svg-url-icon-search($gray-faint) center no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
}

.series-colour {
  display: inline-block;
  height: 18px;
  margin: 0 5px 0 12px;
  min-width: $series-colour-width;
  width: $series-colour-width;
}

.series-info {
  max-width: calc(100% - #{$series-colour-width});
}

.text-right {
  text-align: right;
}
