@import "../../scss/_variables";

.country-section-header {
  line-height: 24px;
  margin-bottom: 12px;

  .speech-bubble-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 0.75em;
    max-width: 42em;
    padding: 20px;
  }

  .speech-bubble-wrapper {
    display: none;
    position: absolute;
    top: 1.75rem;
    left: 0.75rem;
    z-index: 1;
  }

  .info-icon {
    margin-left: 0;
    margin-right: 4px;
    position: relative;
    width: 14px;
    height: 14px;

    // hover area
    &::before {
      content: "";
      display: block;
      height: 2em;
      left: 0.25em;
      position: absolute;
      top: 0.25em;
      width: 2em;
    }
  }

  .speech-bubble-wrapper:hover,
  .info-icon:hover ~ .speech-bubble-wrapper {
    display: block;
  }
}

.header-text {
  color: $gray-med;
  font-weight: 600;
  text-transform: uppercase;

  &.non-target-text {
    margin: 1.6em 0 0 12px;
  }
}

.appendice-grid-wrapper {
  $timeTransition: 0.5s;

  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $timeTransition linear;

  &.is-open {
    grid-template-rows: 1fr;
  }

  & > * {
    overflow-y: hidden;
  }
}

.appendice-toggle {
  display: flex;
  justify-self: flex-end;
  flex-direction: row;

  font-size: 14px;
  font-weight: 600;

  margin: 14px 22px 0 auto;

  position: relative;
  color: $gray-med;
  .save {
    position: absolute;
    left: auto;
    right: -24px;
    transform: rotate(90deg);
  }
  &:hover .save {
    transform: rotate(0deg);
  }
}

.column-close {
  align-items: center;
  align-self: flex-start;
  display: flex;
  white-space: nowrap;

  .x {
    margin-left: 0.6em;
    opacity: 0;
  }

  &:hover .x {
    opacity: 1;
  }

  &:active + .entry-card-content {
    transform: rotate(1deg);
  }
}

.column-close,
.column-restore {
  color: $gray-med;
}

.column-restore {
  font-weight: bold;
  position: absolute;
  right: 1em;
  top: 1em;
}

.entry-card,
.entry-card-header {
  position: relative;
}

.entry-card-multi > .entry-card:first-child:last-child {
  width: 100%;
}

.line-and-legend {
  position: relative;

  .entry-card-multi {
    justify-content: space-evenly;
    & > :first-child {
      flex-grow: 1;
    }
  }
}

.powerbar,
.powerbar-charge {
  height: 3em;
}

.pad-word-right {
  padding-right: 0.25em;
}

.powerbar {
  position: relative;
  background-color: transparent;
  border: 1px solid $gray-5;
  margin: 0 16px 0 8px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid $gray-5;
    width: 8px;
    height: 1em;
    top: calc(1em - 2px);
    right: -10px;
    border-left: 1px solid transparent;
  }
}

.powerbar-charge {
  background-color: $stats-blue;
  display: inline-block;
  max-width: 100%;
}

.powerbar-charge-label {
  color: $stats-blue;
  font-size: 22px;
  font-weight: bold;
  line-height: 150%;
  margin-left: 1rem;
  position: absolute;
  top: 6px;

  &.zeroed {
    color: #fff;
    left: 0;
  }
}

.powerbar-label-left {
  font-weight: 600;
  margin-left: 8px;
  position: absolute;
}

.powerbar-subtitle {
  font-size: 10px;
  font-weight: 600;
  margin-left: 8px;
  text-transform: uppercase;
}

.powerbar-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin: 0.6em 0 1em 0;
  position: relative;

  & + .data-link {
    margin-top: 1.4em;
  }

  .powerbar-target-labels {
    font-size: 20px;
    margin-bottom: 0.6em;
  }
}

.powerbar-charge-label,
.total,
.total-title {
  .hide-on-triple {
    display: inline;
  }
  .show-on-triple {
    display: none;
  }

  &.triple {
    .hide-on-triple {
      display: none;
    }

    .show-on-triple {
      display: inline;
    }
  }
}

// show only the last restore link
.entry-card:not(:last-child):not(.line-and-legend) .column-restore {
  display: none;
}

// prevent user from deleting everything
.entry-card:first-child:last-child .column-close {
  pointer-events: none;
}

.entry-card-content.entry-card-totals {
  .totals {
    & > :last-child {
      display: none;
    }
  }
}

.entry-card {
  display: flex;
  flex-direction: column;
}

.page-title {
  margin: 1em 0.6em 0.75em 0.6em;

  display: flex;
  align-items: center;

  & > * {
    margin-right: 0.4em;
  }

  & + .country-section-header {
    padding-left: 21px;
    align-items: center;
    display: flex;
    position: relative;
    max-width: 100%;
  }
}

.save {
  opacity: 1;
}
