@if (paginationData().pages.length > 0) {
<ul class="paginator" tabindex="-1">
  <li>
    <a
      aria-label="go to previous page"
      class="previous"
      [class.disabled]="!canPrev()"
      data-e2e="grid-page-prev"
      [attr.tabindex]="canPrev() ? 0 : -1"
      (keydown.enter)="callSetPage($event, activePageIndex() - 1)"
      (click)="callSetPage($event, activePageIndex() - 1)"
    ></a>
  </li>

  @if (paginationData().ranges[activePageIndex()]) {
  <li class="range">
    {{ paginationData().ranges[activePageIndex()][0] }} -
    {{ paginationData().ranges[activePageIndex()][1] }}
    <span i18n="Pagination of @@gridPaginatorOf">of</span>
    {{ paginationData().totalRows }}
  </li>
  }

  <li>
    <a
      aria-label="go to next page"
      class="next"
      [class.disabled]="!canNext()"
      data-e2e="grid-page-next"
      [attr.tabindex]="canNext() ? 0 : -1"
      (keydown.enter)="callSetPage($event, activePageIndex() + 1)"
      (click)="callSetPage($event, activePageIndex() + 1)"
    ></a>
  </li>
</ul>
}
