<ul *ngIf="pages && pages.length > 1" class="paginator">
  <li>
    <a
      (click)="setPage(0)"
      [ngClass]="{ disabled: !canPrev() }"
      href="javascript:void(0)"
      >&lt;&lt;</a
    >
  </li>

  <li>
    <a
      (click)="setPage(activePageIndex - 1)"
      [ngClass]="{ disabled: !canPrev() }"
      >&lt;</a
    >
  </li>

  <li *ngFor="let page of pages; let i = index">
    <a
      (click)="setPage(i)"
      href="javascript:void(0)"
      [ngClass]="{ active: i === activePageIndex }"
      >{{ i + 1 }}</a
    >
  </li>

  <li>
    <a
      (click)="setPage(activePageIndex + 1)"
      [ngClass]="{ disabled: !canNext() }"
      >&gt;</a
    >
  </li>

  <li>
    <a
      (click)="setPage(totalPageCount - 1)"
      [ngClass]="{ disabled: !canNext() }"
      >&gt;&gt;</a
    >
  </li>
</ul>
