@import "../../scss/_variables";

.active {
  font-weight: 600;
}

.paginator {
  color: $gray-med;
  display: flex;
  flex-direction: row;
}

.next::after {
  transform: rotate(270deg);
  left: -4px;
}

.next,
.previous {
  color: #000;
  position: relative;
  &::after {
    content: "⌄";
    font-size: 14px;
    line-height: 19px;
    position: absolute;
  }

  &.disabled {
    color: $gray-faint;
    pointer-events: none;
  }
}

.previous::after {
  transform: rotate(90deg);
  right: -4px;
}

.range {
  white-space: nowrap;
}
