.active {
  font-weight: 600;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.paginator {
  display: flex;
  flex-direction: row;

  > li {
    padding: 4px;
  }

  .next::after {
    transform: rotate(270deg);
    left: -10px;
  }

  .next,
  .previous {
    position: relative;
    &::after {
      content: "⌄";
      font-size: 12px;
      font-weight: bold;
      line-height: 18px;
      position: absolute;
    }
  }

  .previous::after {
    transform: rotate(90deg);
    right: -10px;
  }
}
