@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";
@import "../../scss/functions/_replace";

$card-header-pixels-line-height: 24px;
$card-header-pixels-margin-bottom: 12px;
$card-header-height: $card-header-pixels-line-height +
  $card-header-pixels-margin-bottom;

.record-list {
  display: grid;
  column-gap: 20px;

  // 70px is the target - less the column gap is 50
  grid-template-columns: 100fr 1fr minmax(50px, 50px);

  .numeric {
    text-align: right;
  }
}

app-bar-chart {
  height: 100%;
}

.bold {
  font-weight: 600;
}

.container-h,
.data-rows-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-v,
.data-rows {
  display: flex;
  flex-direction: column;
}

.data-link {
  color: $stats-blue;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin: 2em 0 0 auto;

  &::after {
    content: " >";
  }
}

.data-rows {
  width: 100%;

  @media (min-width: $bp-xxl) {
    margin: 0em 2em;
  }
}

.data-rows {
  font-size: 12px;
}

.data-rows-title {
  color: #828282;
  font-size: 14px;
  padding: 16px 0;
}

.entry-card {
  width: 100%;
}

.entry-card-content {
  background: $white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: calc(100% - #{$card-header-height});
  justify-content: space-between;
  padding: 21px 25px;
}

.entry-card-header {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  line-height: $card-header-pixels-line-height;
  margin-bottom: $card-header-pixels-margin-bottom;
  text-transform: uppercase;
  display: flex;
}

.entry-card-pair {
  width: 100%;
  @media (min-width: $bp-xxl) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.entry-card {
  padding: 18px 12px;

  @media (min-width: $bp-xxl) {
    padding: 16px;
  }
}

.info-icon {
  background-image: svg-url-icon-info(#b7b7b7);
  height: 1em;
  margin-left: 4px;
  width: 1em;
  &:hover {
    background-image: svg-url-icon-info($gray-light);
  }
}

.map-container {
  width: 100%;
  max-width: 100%;

  & + .data-rows {
    width: 100%;
  }
}

.percent::after {
  content: "%";
}

.spinner {
  background: svg-url-icon-spinner($stats-blue) center no-repeat;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  transform: scale(5);
  right: 0;
}

.splash-map {
  border: 1px solid $gray-med;
  font-size: 22px;
  height: calc(100% - 8em);
  margin: 4em;
  overflow: hidden;
  padding: 1.5em;
  position: fixed;
  width: calc(100% - 8em);
  z-index: 1;
}

.total {
  font-size: 32px;
  line-height: 1.4;
}

.totals {
  margin-bottom: 10px;
}

@media (min-width: $bp-xxl) {
  //  .entry-card {
  //    min-height: 35em;
  //  }

  .map-container {
    max-width: 50%;
  }

  .map-container + .data-rows {
    width: 50%;
  }
}
