<div class="legend-grid-wrapper">
  <ng-template
    #legendItemSeries
    let-targetType="targetType"
    let-series="series"
    let-country="country"
  >
    <ul>
      <li>
        <a
          (click)="toggleSeries(country, targetType, series)"
          (keydown.enter)="toggleSeries(country, targetType, series)"
          [ngClass]="{
            'rolled-up': !series || series.isHidden || series.isHiding
          }"
          class="legend-item-series-toggle"
          tabindex="!series || series.isHidden || series.isHiding ? -1 : 0"
        >
          <span
            class="marker"
            [ngStyle]="{
              backgroundColor:
                series && !(series.isHidden || series.isHiding)
                  ? series.fill
                  : undefined,
              borderColor:
                series && (series.isHidden || series.isHiding)
                  ? series.fill
                  : undefined
            }"
          >
          </span>
          <span>
            {{ targetType | renameTargetType }}
          </span>
          <span
            class="target-total right"
            *ngIf="countryData()[country]"
            [ngClass]="{ 'pad-right': targetType === TargetFieldName.HQ }"
          >
            {{ countryData()[country][0][targetType] | number }}
          </span>
        </a>
      </li>
      <li
        class="roll-down-wrapper"
        *ngIf="series && targetMetaData()[country]"
        [ngClass]="{ 'is-open': !(series.isHidden || series.isHiding) }"
      >
        <ul class="roll-down">
          <li
            class="target-toggle"
            [ngStyle]="{ color: series.fill }"
            [ngClass]="{ active: data.range }"
            *ngFor="
              let data of targetMetaData()[country][targetType];
              let i = index
            "
          >
            <a
              class="legend-item-target-toggle"
              title="target for {{ data.targetYear }} / {{
                targetType | renameTargetType | lowercase
              }} data (show / hide marker)"
              (click)="
                toggleRange(
                  country,
                  targetType,
                  i,
                  data.range ? undefined : series.fill
                )
              "
              (keydown.enter)="
                toggleRange(
                  country,
                  targetType,
                  i,
                  data.range ? undefined : series.fill
                )
              "
              tabindex="0"
            >
              {{ data.targetYear }}
              <span class="target-total range-value">{{
                data.value | number
              }}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </ng-template>

  <span
    class="legend-grid scrollable-downwards"
    (scroll)="gridScroll()"
    #legendGrid
    tabindex="-1"
  >
    <ng-template
      #countryBlock
      let-country="country"
      let-countryPinValue="countryPinValue"
      let-isPinned="isPinned"
      let-isTopPin="isTopPin"
    >
      <!-- offset the top by 10 if zero and is top -->
      <span
        class="legend-item-country-toggle"
        [ngClass]="{
          'stick-left': isPinned,
          'perma-pin-left': isTopPin
        }"
        [style.top.px]="
          isPinned ? countryPinValue * classReference.itemHeight || 10 : ''
        "
      >
        <a (click)="toggleCountry(country)">
          <span>{{ country | renameCountry }} </span>
          <span class="save" [ngClass]="{ saved: isPinned }"></span>
        </a>
      </span>

      <!-- offset the top by 10 if zero -->
      <span
        class="legend-grid-inner"
        [ngClass]="{
          'stick-right': isPinned
        }"
        [style.top.px]="
          isPinned ? countryPinValue * classReference.itemHeight || 10 : ''
        "
      >
        <!-- Replaced legacy *ngFor loop with signals-native @for block -->
        @for (enabled of [columnEnabled3D(), columnEnabledHQ(),
        columnEnabledALL()]; track $index) {
        <!-- Replaced *ngIf with @if to evaluate the boolean state synchronously -->
        @if (enabled) {
        <span [ngClass]="{ 'top-pin': isTopPin }">
          <ng-content
            *ngTemplateOutlet="
              legendItemSeries;
              context: {
                series:
                  lineChart()?.allSeriesData[
                    country + TargetSeriesSuffixes[$index]
                  ],
                targetType:
                  $index === 0
                    ? TargetFieldName.THREE_D
                    : $index === 1
                    ? TargetFieldName.HQ
                    : TargetFieldName.TOTAL,
                country: country
              }
            "
          ></ng-content>

          @if (isTopPin) {
          <span class="perma-pin">
            <!-- Evaluated the computed signal columnsEnabledCount with execution brackets -->
            <a
              aria-label="unpin column"
              class="x"
              *ngIf="columnsEnabledCount() > 1"
              (click)="
                fireUnpinColumn(
                  $index === 0
                    ? TargetFieldName.THREE_D
                    : $index === 1
                    ? TargetFieldName.HQ
                    : TargetFieldName.TOTAL
                )
              "
            ></a>
          </span>
          }
        </span>
        } }
      </span>
    </ng-template>

    <!-- Replaced legacy country array tracker loop with signals-native @for block -->
    @for (country of targetCountries(); track country) {
    <ng-content
      *ngTemplateOutlet="
        countryBlock;
        context: {
          country: country,
          countryPinValue: pinnedCountries
            ? pinnedCountries[country]
            : undefined,
          isTopPin: pinnedCountries && pinnedCountries[country] === 0,
          isPinned: pinnedCountries && pinnedCountries[country] > -1
        }
      "
    ></ng-content>
    }

    <span class="scrollable-indicator"></span>
  </span>
</div>
