@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

$width-left-col: 200px;

.date-removal {
  margin-left: auto;
  .date + .date {
    margin-left: 12px;
  }
}

.header-bar {
  display: flex;

  .link-list a {
    padding-left: 0.4em;
    &::before {
      content: "/ ";
    }
  }
  &.list-mode {
    .header-data,
    .link-list {
      display: none;
    }
  }

  &:not(.list-mode) {
    .link-data {
      display: none;
    }
    .link-list {
      opacity: 0.1;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.rm-filters {
  display: flex;
  flex-wrap: wrap;

  &.list-mode {
    display: none;
  }
}

.rm-filter {
  background: $gray-lightest;
  color: $gray-med;
  margin: 4px 0;
  padding: 0 8px;

  &:not(:last-child) {
    margin-right: 24px;
  }

  fieldset {
    display: flex;
    align-items: center;
  }
}

.switch-wrapper {
  align-items: center;
  display: flex;
  > span {
    padding-right: 0.4em;
  }
  .switch {
    padding-bottom: 0.4rem;
    position: relative;
    width: 60px;

    .slider {
      background-color: #ccc;
      bottom: 0;
      border-radius: 34px;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: $transition-duration;

      &::before {
        border-radius: 50%;
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: $transition-duration;
      }
    }

    input:checked + .slider {
      background-color: $stats-blue;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $eu-jade;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

input[type="checkbox"] {
  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}

input[type="date"],
.datasetName {
  width: 11em;
}

input[type="date"]:not(:valid) {
  border: 1px solid red;
}

.errors {
  color: red;
}

.datasetName {
  margin-bottom: 1em;
}

app-overview {
  width: 100%;
}

datatable-scroller {
  width: 100% !important;
}

.chart-wrapper,
.options-wrapper,
ngx-datatable.ngx-datatable {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  &.showing {
    opacity: 1;
  }
  &:not(.showing) {
    max-height: 0;
    overflow: hidden;
  }
}

.table-footer {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0.7em;

  .table-footer-total {
    border-bottom: 1px solid #999;
    display: inline-block;
    margin-bottom: 0.4em;
  }
}

h3 {
  display: inline-block;
  position: relative;
}

label {
  cursor: pointer;
}

.checkboxes {
  display: inline-grid;
  grid-auto-flow: row;

  @media (min-width: $bp-med) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $bp-xl) {
    grid-template-columns: repeat(3, auto);
  }

  &.DATA_PROVIDER,
  &.PROVIDER,
  &.RIGHTS {
    @media (min-width: $bp-med) {
      grid-template-columns: repeat(1, auto);
    }

    @media (min-width: $bp-xl) {
      grid-template-columns: repeat(2, auto);
    }
  }

  white-space: nowrap;
  label {
    display: block;
    margin: 0 0.6em;
  }
}

.menu-opener {
  &.disabled {
    color: #aaa;
    pointer-events: none;
  }
}

.loading-modal::after {
  background-image: svg-url-icon-spinner(#{$gray-med});
}

.svg-icon-spin {
  background-image: svg-url-icon-spinner(#{$stats-blue});
  display: none;
  height: 23px;
  position: absolute;
  right: -1.35em;
  top: 0;
  transform: scale(0.7);
  width: 23px;
  &.showing {
    display: inline-block;
  }
}

.datatable {
  margin: 1.6em 0;
}

.icon-clear {
  transform: scale(0.3);
  transform-origin: -60% 36%;

  // highlight items to remove
  &:hover + .applied-filter-summary li::before {
    color: red;
  }
}

.applied-filter-summary {
  color: #999;
  font-size: 0.7em;
  font-style: italic;
  list-style: none;
  margin: 0.5em;

  // apply custom bullets
  li::before {
    content: "\2022";
    color: #999;
    display: inline-block;
    font-weight: bold;
    margin-left: -1em;
    transition: color $transition-duration ease-in-out;
    width: 0.85em;
  }
}

.filters-header + .icon-clear {
  transform-origin: 90% 34%;

  // highlight items to remove
  &:hover + .filters .applied-filter-summary {
    li::before {
      color: red;
    }
  }
}

.filter-select {
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $bp-small;
}

.options-wrapper {
  float: right;
}

.column,
.filters {
  display: flex;
  flex-direction: column;
}

.filters {
  > li:not(:last-child) {
    margin-bottom: 1em;
  }

  &.inputs {
    margin-top: 2em;
  }
}

.dropdown {
  position: relative;
  a.open::after {
    transform: rotate(180deg);
  }
}

.chart-settings {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  padding: 1em;
}

.chart-wrapper.showing {
  height: 500px;
  max-width: 100%;
  padding-bottom: 5em;
}

.facet-param {
  font-size: revert;
}

.mobile-row {
  font-size: 14px;
  padding-left: 60px;
}

.mobile-row-detail {
  &:not(:last-child)::after {
    content: ", ";
  }
}

.statistics-dashboard {
  display: flex;
  flex-direction: column-reverse;
}

.statistics-dashboard-right {
  min-width: 0;
}

@media (min-width: $bp-xl) {
  .filter-params {
    display: flex;
    flex-direction: column;
  }

  .filter-select {
    width: $width-left-col;
  }

  .statistics-dashboard {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}
