@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";

$filter-scroll-w: 30px;
$width-left-col: 200px;

.chart-and-summary,
.statistics-dashboard {
  display: flex;
  flex-direction: column-reverse;
}

.date-removal {
  color: $gray-med;
  margin-right: $spacing-s;

  &.set {
    .when-set {
      color: $gray-med;
      display: flex;
    }
    .when-unset {
      display: none;
    }
  }

  &:not(.set) {
    .when-set,
    .x {
      display: none;
    }
    .when-unset {
      display: inline;
    }
  }

  .date {
    font-size: 14px;
    white-space: nowrap;

    &:last-child {
      display: flex;
      align-items: center;
      &::after {
        background: $gray-5;
        content: "";
        display: block;
        height: 32px;
        margin-left: $spacing-s;
        width: 1px;
      }
    }
  }

  .separator {
    margin: $spacing-s;
  }

  .when-set,
  .when-unset {
    background: $gray-5;
    font-size: 9px;
    margin-right: 10px;
    padding: $spacing-xs;
    white-space: nowrap;
  }

  .x {
    transform: scale(0.5);
  }
}

.filter-icon-home {
  margin-left: $spacing-s;
  & + .filter-title {
    margin-left: $spacing-s;
  }
}

.header-bar {
  justify-content: space-between;
}

.rm-filter {
  align-items: center;
  background-color: $stats-blue;
  cursor: pointer;
  display: flex;

  .x {
    transform: translate(-2px, 0px) scale(0.75);
    &::after,
    &::before {
      background: $white;
    }
  }
}

.rm-filter.dead-facet {
  opacity: 0.4;
}

.rm-filter-nav {
  align-items: center;
  background: $offwhite;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 0 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: $filter-scroll-w;

  &::before {
    background: linear-gradient(90deg, transparent 0%, $offwhite 100%);
    height: 100%;
    left: -$filter-scroll-w;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 30px;
  }

  &.active::before {
    content: "";
  }
}

.rm-filter-nav-next,
.rm-filter-nav-prev {
  color: $gray-5;
  cursor: default;
  font-size: 30px;
  transform: translateY(-4px);
  width: 14px;
  &.active {
    color: #000;
    cursor: pointer;
  }
}

.rm-filters-outer {
  position: relative;
}

.rm-filters-scroll {
  overflow: hidden;
  margin-right: $filter-scroll-w;
}

.rm-filter-nav-next {
  text-align: right;
}

.rm-filter-nav-prev {
  text-align: left;
}

.rm-filters {
  margin-top: $spacing-m;
}

input[type="checkbox"] {
  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}

.errors {
  color: $eu-red;
}

.dataset-name {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin-right: $spacing-s;

  &[type="text"] {
    margin: 0 0 0 $spacing-s;
    padding: 0;
    width: 100%;
  }
}

.dataset-name-wrapper {
  border: 1px solid $gray-5;
  border-radius: $spacing-s;
  margin-top: $spacing-s;

  &.container-h .icon {
    align-self: center;
    position: static;
  }
}

.export-opener {
  display: inline-block;
  height: 18px;
  width: 18px;
}

.export-opener-link-wrapper {
  margin-top: 36px;
  text-align: right;
  .export-opener-link {
    color: $stats-blue;
    font-size: 14px;
  }
}

.table-footer {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0.7em;

  .table-footer-total {
    border-bottom: 1px solid $grey-3;
    display: inline-block;
    margin-bottom: 0.4em;
  }
}

h3 {
  display: inline-block;
  font-weight: 600;
  position: relative;
}

label {
  cursor: pointer;
}

.datatable {
  margin: 1.6em 0;
}

.applied-filter-summary {
  color: $grey-3;
  font-size: 0.7em;
  font-style: italic;
  list-style: none;
  margin: 0.5em;

  // apply custom bullets
  li::before {
    content: "\2022";
    color: $grey-3;
    display: inline-block;
    font-weight: bold;
    margin-left: -1em;
    transition: color $transition-duration ease-in-out;
    width: 0.85em;
  }
}

.filters-header {
  color: $grey-3;
  font-size: 12px;
  font-weight: bold;
  line-height: 38px;
  text-transform: uppercase;
  margin-left: $spacing-s;
}

.filter-select {
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $bp-small;
}

.filters {
  display: flex;
  flex-direction: column;
}

.chart-settings {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  padding: 1em;
}

.chart-wrapper {
  flex-grow: 1;
  height: 300px;
  margin: 0 -$spacing-s;
  max-width: 100%;

  &.hidden {
    overflow: hidden;
    margin: 0;
    transition: height ease-in-out 100ms;
    height: 0;
  }
}

.data-area {
  background-color: $white;
  border-radius: $spacing-m;
  padding: 20px 26px;
  position: relative;

  .load-bar {
    background: $stats-blue;
    border-top-left-radius: $spacing-m;
    border-top-right-radius: $spacing-m;
    height: 5px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s linear width;
    width: 0%;
    &.showing {
      left: 0;
      right: auto;
      width: 100%;
      transition: 0.3s linear width;
    }
  }

  .no-data {
    font-size: 24px;
    ul {
      font-size: 14px;
      list-style: disc;
      margin: 12px 0 0 20px;

      .param {
        font-weight: bold;
      }
    }
  }
}

.facet-param {
  border: 0;
  background: none;
  border-bottom: 1px dashed $near-black;
  cursor: pointer;
  font-weight: 600;
  text-indent: 0;
}

.facet-param-text {
  margin-right: -2px;
}

.header-data {
  color: $near-black;
  font-size: 18px;
  font-weight: 600;
  margin-right: auto;
}

.date.warn {
  color: $gray-med;
  position: relative;
  &:hover {
    color: transparent;
    &::before {
      background: svg-url-icon-warning($stats-blue) 0px 0px / 10px no-repeat;
      content: "";
      display: inline-block;
      height: 10px;
      position: absolute;
      width: 14px;
    }
  }
}

@media (min-width: $bp-xl) {
  .statistics-dashboard {
    flex-direction: row;
  }

  .filter-params {
    display: flex;
    flex-direction: column;
  }

  .filter-select {
    width: $width-left-col;
  }
}

@media (min-width: $bp-xxl) {
  .chart-and-summary {
    flex-direction: row;
  }
}
