@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";

$width-left-col: 200px;

.ct-zero-label {
  margin-left: $spacing-s;
}

.date-removal .date + .date {
  margin-left: $spacing-m;
}

.header-bar {
  display: flex;
  justify-content: space-between;
}

.rm-filter {
  align-items: center;
  background-color: $stats-blue;
  cursor: pointer;
  display: flex;

  .x {
    transform: translate(-2px, 0px) scale(0.75);
    &::after,
    &::before {
      background: $white;
    }
  }
}

.rm-filter.dead-facet {
  opacity: 0.4;
}

.rm-filter-nav {
  align-items: center;
  background: linear-gradient(90deg, transparent 0%, $offwhite 50%);
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
}

.rm-filter-nav-next,
.rm-filter-nav-prev {
  color: $gray-5;
  font-size: 30px;
  transform: translateY(-4px);
  width: 14px;

  &.active {
    color: #000;
    pointer-events: all;
  }
}

.rm-filter-nav-next {
  text-align: right;
}

.rm-filter-nav-prev {
  text-align: left;
}

.rm-filters {
  margin-top: $spacing-m;
}

input[type="checkbox"] {
  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}

input[type="date"]:not(:valid) {
  border: 1px solid red;
}

.errors {
  color: red;
}

.dataset-name {
  background: transparent;
  border: 0;
  box-shadow: none;
  margin-right: $spacing-s;

  &[type="text"] {
    margin: 0 0 0 $spacing-s;
    padding: 0;
    width: 100%;
  }
}

.dataset-name-wrapper {
  border: 1px solid $gray-5;
  border-radius: $spacing-s;
  margin-top: $spacing-s;

  &.container-h .icon {
    align-self: center;
    position: static;
  }
}

app-overview {
  width: 100%;
}

datatable-scroller {
  width: 100% !important;
}

.export-opener {
  display: inline-block;
  height: 18px;
  position: relative;
  top: 6px;
  width: 14px;
}

.export-opener-link-wrapper {
  margin-top: 36px;
  text-align: right;
  .export-opener-link {
    color: $stats-blue;
    font-size: 14px;
  }
}

.table-footer {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0.7em;

  .table-footer-total {
    border-bottom: 1px solid $grey-3;
    display: inline-block;
    margin-bottom: 0.4em;
  }
}

h3 {
  display: inline-block;
  font-weight: 600;
  position: relative;
}

label {
  cursor: pointer;
}

.svg-icon-spin {
  background-image: svg-url-icon-spinner(#{$stats-blue});
  display: none;
  height: 23px;
  position: absolute;
  right: -1.35em;
  top: 0;
  transform: scale(0.7);
  width: 23px;
  &.showing {
    display: inline-block;
  }
}

.datatable {
  margin: 1.6em 0;
}

.applied-filter-summary {
  color: $grey-3;
  font-size: 0.7em;
  font-style: italic;
  list-style: none;
  margin: 0.5em;

  // apply custom bullets
  li::before {
    content: "\2022";
    color: $grey-3;
    display: inline-block;
    font-weight: bold;
    margin-left: -1em;
    transition: color $transition-duration ease-in-out;
    width: 0.85em;
  }
}

.filters-header {
  color: $grey-3;
  font-size: 12px;
  font-weight: bold;
  line-height: 38px;
  text-transform: uppercase;
  margin-left: $spacing-s;
}

.filter-select {
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $bp-small;
}

.filters {
  display: flex;
  flex-direction: column;
}

.chart-settings {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  padding: 1em;
}

.chart-wrapper {
  height: 300px;
  margin: 0 -$spacing-s;
  max-width: 100%;
}

.data-area {
  background-color: $white;
  border-radius: $spacing-m;
  padding: 20px 26px;
}

.facet-param {
  border: 0;
  background: none;
  border-bottom: 1px dashed $near-black;
  cursor: pointer;
  font-weight: 600;
  text-indent: 0;
}

.facet-param-text {
  margin-right: -2px;
}

.header-data {
  color: $near-black;
}

.statistics-dashboard {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: $bp-xl) {
  .filter-params {
    display: flex;
    flex-direction: column;
  }

  .filter-select {
    width: $width-left-col;
  }

  .statistics-dashboard {
    flex-direction: row;
  }
}
