<form
  [formGroup]="form"
  class="dashboard-wrapper"
  [ngClass]="{
    'loading-modal': isLoading && !allProcessedFacetData && !dataServerData
  }"
>
  <app-resize (sizeChanged)="refreshChart(true)"></app-resize>

  <div class="statistics-dashboard fit-to-page">
    <!-- Left -->

    <div class="statistics-dashboard-left">
      <div>
        <ul class="filters">
          <li class="container-h">
            <span class="icon filter-icon-home"> </span>
            <a
              class="filter-title padded-left"
              data-e2e="link-home"
              routerLink="/"
              >Home</a
            >
          </li>

          <li class="ct-zero container-h">
            <span [formGroup]="form" class="checkbox-labelled padded-left">
              <span
                class="checkmarked-checkbox"
                [ngClass]="{
                  checked: form.value.contentTierZero
                }"
              >
                <input
                  id="ctZero"
                  class="checkbox"
                  type="checkbox"
                  (change)="updatePageUrl()"
                  formControlName="contentTierZero"
                />
              </span>
              <label class="filter-title padded-left" for="ctZero">
                {{ form.value.contentTierZero ? "Disable" : "Enable" }}
                content tier 0
              </label>
            </span>
            <a
              class="info-icon"
              href="https://pro.europeana.eu/page/edm-documentation"
              target="_blank"
              title="Documentation"
            ></a>
          </li>
        </ul>

        <h3 class="filters-header">Filters</h3>

        <ul class="filters">
          <li>
            <ng-container *ngIf="allProcessedFacetData || dataServerData">
              <ng-container *ngFor="let filter of facetConf">
                <app-filter
                  [form]="form"
                  [group]="filter"
                  [options]="filterData[filter]"
                  [state]="filterStates[filter]"
                  (visibilityChanged)="closeFilters($event)"
                  (valueChanged)="updatePageUrl()"
                ></app-filter>
              </ng-container>

              <app-filter
                [form]="form"
                [group]="'dates'"
                [state]="filterStates['dates']"
                (visibilityChanged)="closeFilters($event)"
                (valueChanged)="updatePageUrl()"
              ></app-filter>
            </ng-container>
          </li>
        </ul>
      </div>

      <ul class="filters inputs">
        <li class="container-h dataset-name-wrapper">
          <span class="icon filter-icon-dataset"></span>
          <input
            formControlName="datasetName"
            (keyup.enter)="updatePageUrl()"
            placeholder="Dataset ID"
            class="dataset-name"
            type="text"
          />
        </li>
      </ul>
    </div>

    <!-- Right -->

    <div class="statistics-dashboard-right">
      <app-export
        #export
        [getGridData]="getGridData.bind(this)"
        [getChartData]="getChartData.bind(this)"
      ></app-export>

      <!-- Header -->

      <div class="container-h header-bar">
        <ng-container *ngIf="!form.value.facetParameter">
          <h3 class="header-data">Select a facet dimension</h3>
        </ng-container>
        <ng-container *ngIf="form.value.facetParameter">
          <h3
            class="header-data"
            [title]="getFormattedContentTierParam() + getFormattedFacetParam()"
          >
            <span class="facet-param-text"> Europeana database by </span>
            <select
              class="facet-param"
              formControlName="facetParameter"
              (change)="switchFacet()"
            >
              <option *ngFor="let facet of facetConf" [ngValue]="facet">
                {{ facet | renameApiFacet }}
              </option>
            </select>
            <span
              class="svg-icon-spin"
              [ngClass]="{ showing: isLoading }"
            ></span>
          </h3>
        </ng-container>

        <ng-container *ngIf="getFormattedDateStrings(); let dates">
          <span
            class="container-h date-removal"
            [ngClass]="{ set: form.value.dateFrom && form.value.dateTo }"
          >
            <a class="container-h when-set" (click)="datesClear()">
              <span>Custom</span>
              <span class="x" data-e2e="close-date-override"></span>
            </a>
            <span class="when-unset">Whole period</span>
            <span class="date">
              {{ dates[0] }}
            </span>
            <span class="separator"> - </span>
            <span class="date">
              {{ dates[1] }}
            </span>
          </span>
        </ng-container>

        <a (click)="export.toggleActive()" class="export-icon export-opener">
        </a>
      </div>

      <!-- Filter removal -->
      <div class="rm-filters-outer">
        <div class="rm-filters-scroll">
          <ul
            class="rm-filters"
            id="scrollInfo"
            #scrollInfo="scrollInfo"
            appIsScrollable
          >
            <app-resize
              [time]="200"
              (sizeChanged)="scrollInfo.calc()"
            ></app-resize>

            <ng-container *ngFor="let filter of facetConf">
              <ng-container *ngIf="filter !== form.value.facetParameter">
                <ng-container
                  *ngFor="let option of getSetCheckboxValues(filter)"
                >
                  <ng-container
                    *ngFor="let deadFacet of [isDeadFacet(filter, option)]"
                  >
                    <label
                      class="rm-filter"
                      *ngIf="form.value[filter][option]"
                      [ngClass]="{ 'dead-facet': deadFacet }"
                    >
                      <app-checkbox
                        [form]="form"
                        [controlName]="option"
                        [labelText]="fromInputSafeName(option) | renameRights"
                        [group]="filter"
                        (valueChanged)="updatePageUrl(deadFacet)"
                      ></app-checkbox>
                      <span class="x"></span>
                    </label>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </ul>
        </div>
        <div
          class="rm-filter-nav"
          *ngIf="scrollInfo.canScrollBack || scrollInfo.canScrollFwd"
        >
          <a
            class="rm-filter-nav-prev"
            (click)="scrollInfo.back()"
            [ngClass]="{ active: scrollInfo.canScrollBack }"
            >&lsaquo;</a
          >
          <a
            class="rm-filter-nav-next"
            (click)="scrollInfo.fwd()"
            [ngClass]="{ active: scrollInfo.canScrollFwd }"
            >&rsaquo;</a
          >
        </div>
      </div>

      <!-- Data Area -->
      <div class="data-area">
        <div class="chart-and-summary">
          <div class="chart-wrapper">
            <app-bar-chart
              #barChart
              [showPercent]="form.value.showPercent"
              [extraSettings]="
                ['contentTier', 'metadataTier'].includes(
                  form.value.facetParameter
                )
                  ? barChartSettingsTiers
                  : barChartSettings
              "
            ></app-bar-chart>
          </div>
          <ng-container>
            <app-grid-summary
              #gridSummary
              *ngIf="allProcessedFacetData || dataServerData"
              [grandTotal]="resultTotal"
              [summaryData]="getSummaryData()"
            ></app-grid-summary>
          </ng-container>
        </div>

        <label style="position: relative; float: right; top: -4px; right: 4px"
          >As percentages
          <input
            type="checkbox"
            formControlName="showPercent"
            (change)="refreshChart()"
        /></label>

        <!-- SNAPSHOTS -->
        <ng-container>
          <app-snapshots
            #snapshots
            [facetName]="form.value.facetParameter"
            (hideItem)="removeSeries($event)"
            (showItems)="addSeries($event)"
          >
          </app-snapshots>
        </ng-container>
        <!-- END SNAPSHOTS -->

        <app-grid
          #grid
          id="grid"
          facet="{{ form.value.facetParameter }}"
          [getUrl]="getUrl.bind(this)"
          [getUrlRow]="getUrlRow.bind(this)"
        ></app-grid>

        <div class="export-opener-link-wrapper">
          <a class="export-opener-link" (click)="export.toggleActive()"
            >EXPORT DATA</a
          >
        </div>
      </div>
    </div>
  </div>
</form>
