@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

$width-left-col: 200px;

.compare-data {
  display: flex;
}

.compare-data-link-remove {
  margin-left: 8px;
}

.ct-zero-label {
  margin-left: $spacing-s;
}

.date-removal {
  margin-left: auto;
  .date + .date {
    margin-left: $spacing-m;
  }
}

.header-bar {
  display: flex;

  .link-list a {
    padding-left: 0.4em;
    &::before {
      content: "/ ";
    }
  }
  &.list-mode {
    .header-data,
    .link-list {
      display: none;
    }
  }

  &:not(.list-mode) {
    .link-data {
      display: none;
    }
    .link-list {
      opacity: 0.1;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.compare-data-link,
.menu-opener {
  &.disabled {
    color: #aaa;
    pointer-events: none;
  }
}

input[type="checkbox"] {
  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}

input[type="date"]:not(:valid) {
  border: 1px solid red;
}

.errors {
  color: red;
}

.dataset-name {
  margin-left: $spacing-s;
}

app-overview {
  width: 100%;
}

datatable-scroller {
  width: 100% !important;
}

.chart-wrapper,
.options-wrapper,
ngx-datatable.ngx-datatable {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  &.showing {
    opacity: 1;
  }
  &:not(.showing) {
    max-height: 0;
    overflow: hidden;
  }
}

.table-footer {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0.7em;

  .table-footer-total {
    border-bottom: 1px solid $grey-3;
    display: inline-block;
    margin-bottom: 0.4em;
  }
}

h3 {
  display: inline-block;
  font-weight: 600;
  position: relative;
}

label {
  cursor: pointer;
}

.svg-icon-spin {
  background-image: svg-url-icon-spinner(#{$stats-blue});
  display: none;
  height: 23px;
  position: absolute;
  right: -1.35em;
  top: 0;
  transform: scale(0.7);
  width: 23px;
  &.showing {
    display: inline-block;
  }
}

.datatable {
  margin: 1.6em 0;
}

.applied-filter-summary {
  color: $grey-3;
  font-size: 0.7em;
  font-style: italic;
  list-style: none;
  margin: 0.5em;

  // apply custom bullets
  li::before {
    content: "\2022";
    color: $grey-3;
    display: inline-block;
    font-weight: bold;
    margin-left: -1em;
    transition: color $transition-duration ease-in-out;
    width: 0.85em;
  }
}

.filters-header {
  color: $grey-3;
  font-size: 12px;
  font-weight: bold;
  line-height: 38px;
  text-transform: uppercase;
  margin-left: $spacing-s;
}

.filter-select {
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $bp-small;
}

.options-wrapper {
  float: right;
}

.column,
.filters {
  display: flex;
  flex-direction: column;
}

.dropdown {
  position: relative;
  a.open::after {
    transform: rotate(180deg);
  }
}

.chart-settings {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  padding: 1em;
}

.chart-wrapper.showing {
  height: 500px;
  max-width: 100%;
  padding-bottom: $spacing-m;
}

.data-area {
  background-color: $white;
  border-radius: $spacing-m;
  padding: 20px 26px;
}

.facet-param {
  border: 0;
  background: none;
  border-bottom: 1px dashed $near-black;
  margin-bottom: 20px;
  text-indent: 0;
}

.header-data {
  color: $near-black;
}

.mobile-row {
  font-size: 14px;
  padding-left: 60px;
}

.mobile-row-detail {
  &:not(:last-child)::after {
    content: ", ";
  }
}

.statistics-dashboard {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: $bp-xl) {
  .filter-params {
    display: flex;
    flex-direction: column;
  }

  .filter-select {
    width: $width-left-col;
  }

  .statistics-dashboard {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}
