@import "../../scss/_variables";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

$transition-duration: 0.4s;
$width-left-col: 200px;

.switch-wrapper {
  align-items: center;
  display: flex;
  > span {
    padding-right: 0.4em;
  }
  .switch {
    position: relative;
    width: 60px;

    .slider {
      background-color: #ccc;
      bottom: 0;
      border-radius: 34px;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: $transition-duration;

      &::before {
        border-radius: 50%;
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: $transition-duration;
      }
    }

    input:checked + .slider {
      background-color: $eu-jade;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $eu-jade;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

input[type="date"],
.datasetName {
  width: 11em;
}

input[type="date"]:not(:valid) {
  border: 1px solid red;
}

.errors {
  color: red;
}

.datasetName {
  margin-bottom: 1em;
}

app-overview {
  width: 100%;
}

datatable-scroller {
  width: 100% !important;
}

.table-footer {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0.7em;

  .table-footer-total {
    border-bottom: 1px solid #999;
    display: inline-block;
    margin-bottom: 0.4em;
  }
}

h3 {
  display: inline-block;
  position: relative;
}

label {
  cursor: pointer;
}

.checkboxes {
  display: inline-grid;
  grid-auto-flow: row;

  @media (min-width: $bp-med) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $bp-xl) {
    grid-template-columns: repeat(3, auto);
  }

  &.DATA_PROVIDER,
  &.PROVIDER,
  &.RIGHTS {
    @media (min-width: $bp-med) {
      grid-template-columns: repeat(1, auto);
    }

    @media (min-width: $bp-xl) {
      grid-template-columns: repeat(2, auto);
    }
  }

  white-space: nowrap;
  label {
    display: block;
    margin: 0 0.6em;
  }
}

.menu-opener {
  &.disabled {
    color: #aaa;
    pointer-events: none;
  }
}

.svg-icon-spin {
  position: absolute;
  right: -1.5em;
}

.datatable {
  margin: 1.6em 0;
}

.clear-filter {
  background-image: url("data:image/svg+xml,%3Csvg viewbox='0 0 32 32' fill='%23ff0000' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ecross%3C/title%3E%3Cpath d='M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z'%3E%3C/path%3E%3C/svg%3E");
  display: inline-block;
  filter: grayscale(100%);
  height: 32px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  transform: scale(0.3);
  transform-origin: -60% 36%;
  transition: filter $transition-duration ease-in-out,
    opacity $transition-duration ease-in-out;
  width: 32px;

  &:hover {
    filter: grayscale(0);
    opacity: 1;

    // highlight items to remove
    & + .applied-filter-summary {
      li::before {
        color: red;
      }
    }
  }
}

.applied-filter-summary {
  color: #999;
  font-size: 0.7em;
  font-style: italic;
  list-style: none;
  margin: 0.5em;

  // apply custom bullets
  li::before {
    content: "\2022";
    color: #999;
    display: inline-block;
    font-weight: bold;
    margin-left: -1em;
    transition: color $transition-duration ease-in-out;
    width: 0.85em;
  }
}

.filters-header + .clear-filter {
  transform-origin: 90% 34%;

  // highlight items to remove
  &:hover + .filters .applied-filter-summary {
    li::before {
      color: red;
    }
  }
}

.filter-select {
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $bp-small;
}

.options-wrapper {
  display: flex;
}

.column,
.filters {
  display: flex;
  flex-direction: column;
}

.filters {
  > li:not(:last-child) {
    margin-bottom: 1em;
  }

  &:last-child {
    margin-top: 2em;
  }
}

.dropdown {
  position: relative;
  a.open::after {
    transform: rotate(180deg);
  }
}

.chart-settings {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  padding: 1em;
}

.chart-wrapper {
  height: 500px;
  max-width: 100%;
  padding-bottom: 5em;
}

.facet-params {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    align-items: center;
    display: flex;
    height: 34px;
    padding: 0;
  }
}

.mobile-row {
  font-size: 14px;
  padding-left: 60px;
}

.mobile-row-detail {
  &:not(:last-child)::after {
    content: ", ";
  }
}

.metis-dashboard {
  display: flex;
  flex-direction: column-reverse;
}

.metis-dashboard-right {
  min-width: 0;
}

@media (min-width: $bp-xl) {
  .filter-params {
    display: flex;
    flex-direction: column;
  }

  .filter-select {
    width: $width-left-col;
  }

  .metis-dashboard {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}
