<main>
  <form
    [formGroup]="form"
    class="dashboard-wrapper"
    [ngClass]="{
      'loading-modal': isLoading && !dataServerData
    }"
  >
    <app-resize (sizeChanged)="refreshChart(true)"></app-resize>

    <ng-template #dialogRef>
      <div class="dialog-content">
        <div class="container-h">
          <span class="warn-icon"></span>
          <span class="warning" i18n="Warning data recency@@warnDataNotLive"
            >The data is not live and may be a few days old</span
          >
        </div>
        <button mat-button mat-dialog-close>Close</button>
      </div>
    </ng-template>

    <div class="statistics-dashboard fit-to-page">
      <!-- Left -->

      <div class="statistics-dashboard-left">
        <div>
          <ul class="filters">
            <li class="container-h">
              <span class="icon filter-icon-home"> </span>
              <a
                class="filter-title"
                data-e2e="link-home"
                i18n="Home Link@@labelLinkHome"
                routerLink="/"
                [queryParams]="
                  form.value.contentTierZero
                    ? { 'content-tier-zero': true }
                    : {}
                "
                >Home</a
              >
            </li>
            <li>
              <app-ct-zero-control
                [form]="form"
                [disabled]="emptyDataset"
                (onChange)="updatePageUrl()"
              ></app-ct-zero-control>
            </li>
          </ul>
          <h3
            class="filters-header"
            i18n="Filters header|Heading text for filters@@filtersHeader"
          >
            Filters
          </h3>
          <ul class="filters">
            <li>
              <ng-container *ngIf="dataServerData">
                <ng-container *ngFor="let filter of facetConf">
                  <app-filter
                    [form]="form"
                    [group]="filter"
                    [optionSet]="
                      emptyDataset
                        ? { options: [] }
                        : displayedFilterData[filter]
                    "
                    [tierPrefix]="tierPrefix"
                    [totalAvailable]="filterKeysLength(filter)"
                    [state]="filterStates[filter]"
                    (visibilityChanged)="closeFilters($event)"
                    (valueChanged)="updatePageUrl()"
                    (filterTermChanged)="filterDisplayData($event)"
                  ></app-filter>
                </ng-container>
                <app-filter
                  [emptyDataset]="emptyDataset"
                  [form]="form"
                  [group]="'dates'"
                  [state]="filterStates['dates']"
                  (visibilityChanged)="closeFilters($event)"
                  (valueChanged)="updatePageUrl()"
                ></app-filter>
              </ng-container>
            </li>
          </ul>
        </div>

        <ul class="filters inputs">
          <li class="container-h dataset-name-wrapper">
            <span class="icon filter-icon-dataset"></span>
            <input
              formControlName="datasetId"
              (keyup.enter)="updateDatasetIdFieldAndPageUrl()"
              i18n-placeholder="Dataset ID@@inputPlaceholderFilterDatasetId"
              placeholder="Dataset ID"
              class="dataset-name"
              type="text"
              [ngClass]="{
                disabled: emptyDataset && !queryParams['dataset-id']
              }"
            />
          </li>
        </ul>
      </div>

      <!-- Right -->

      <div class="statistics-dashboard-right">
        <app-export
          #export
          [getGridData]="getGridData.bind(this)"
          [getChartData]="getChartData.bind(this)"
        ></app-export>

        <!-- Header -->

        <div class="container-h header-bar">
          <ng-container *ngIf="!form.value.facetParameter">
            <h3 class="header-data">Select a facet dimension</h3>
          </ng-container>
          <ng-container *ngIf="form.value.facetParameter">
            <h1 class="header-data">
              <span
                class="facet-param-text"
                i18n="Facet selection@@facetSelection"
              >
                Europeana database by
              </span>
              <select
                class="facet-param"
                formControlName="facetParameter"
                (change)="switchFacet()"
                aria-label="Data dimension selection"
              >
                <option *ngFor="let facet of facetConf" [ngValue]="facet">
                  {{ facet | renameApiFacet }}
                </option>
              </select>

              <ng-container
                *ngIf="externalLinks.help[form.value.facetParameter]; let help"
              >
                <a
                  class="info-icon"
                  [href]="help.href"
                  target="_blank"
                  [title]="help.description"
                ></a>
              </ng-container>
            </h1>
          </ng-container>

          <ng-container *ngIf="getAppliedDateRange(); let dates">
            <span
              class="container-h date-removal"
              [ngClass]="{ set: form.value.dateFrom && form.value.dateTo }"
            >
              <a class="container-h when-set" (click)="datesClear()">
                <span>Custom</span>
                <span class="x" data-e2e="close-date-override"></span>
              </a>
              <a
                class="when-unset"
                (click)="datesOpen()"
                i18n="
                  Period Summary|Summary for applied date filters@@periodSummary"
                >Whole period</a
              >
              <span class="date">
                {{ dates[0] | date: "MMM d, y" }}
              </span>
              <span class="separator"> - </span>
              <span class="date">
                {{ dates[1] | date: "MMM d, y" }}
              </span>
              <a class="date warn" (click)="showDateDisclaimer()"> * </a>
            </span>
          </ng-container>

          <a (click)="export.toggleActive()" class="export-icon export-opener">
          </a>
        </div>

        <!-- Filter removal -->
        <div class="rm-filters-outer">
          <div class="rm-filters-scroll">
            <ul
              class="rm-filters"
              id="scrollInfo"
              #scrollInfo="scrollInfo"
              appIsScrollable
            >
              <li>
                <app-resize
                  [time]="200"
                  (sizeChanged)="scrollInfo.calc()"
                ></app-resize>
              </li>

              <ng-container *ngFor="let filter of facetConf">
                <ng-container *ngIf="filter !== form.value.facetParameter">
                  <ng-container
                    *ngFor="let option of getRemoveFilterCheckboxData(filter)"
                  >
                    <label
                      class="rm-filter"
                      [ngClass]="{ 'dead-facet': !option.valid }"
                    >
                      <app-checkbox
                        [form]="form"
                        [controlName]="option.name"
                        [labelText]="option.label"
                        [group]="filter"
                        (valueChanged)="updatePageUrl(option.valid)"
                        title="remove filter: {{ option.label }}"
                      ></app-checkbox>
                      <span
                        class="x"
                        title="remove filter: {{ option.label }}"
                      ></span>
                    </label>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="queryParams['dataset-id']; let datasets">
                <ng-container *ngFor="let id of fromCSL(datasets.toString())">
                  <ng-container *ngIf="form.controls['datasetIds'].get(id)">
                    <label class="rm-filter">
                      <app-checkbox
                        [form]="form"
                        [controlName]="id"
                        group="datasetIds"
                        [labelText]="id"
                        (valueChanged)="updateDatasetIdFieldAndPageUrl(id)"
                        title="remove filter: {{ id }}"
                      ></app-checkbox>
                      <span class="x" title="remove filter: {{ id }}"></span>
                    </label>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ul>
          </div>
          <div
            class="rm-filter-nav"
            [ngClass]="{ active: scrollInfo.canScrollFwd }"
            *ngIf="scrollInfo.canScrollBack || scrollInfo.canScrollFwd"
          >
            <a
              class="rm-filter-nav-prev"
              (click)="scrollInfo.back()"
              [ngClass]="{ active: scrollInfo.canScrollBack }"
              [title]="scrollInfo.canScrollBack ? 'scroll back' : ''"
              >&lsaquo;</a
            >
            <a
              class="rm-filter-nav-next"
              (click)="scrollInfo.fwd()"
              [ngClass]="{ active: scrollInfo.canScrollFwd }"
              [title]="scrollInfo.canScrollFwd ? 'scroll forward' : ''"
              >&rsaquo;</a
            >
          </div>
        </div>

        <!-- Data Area -->
        <div class="data-area">
          <!-- Country Page Shortcut Links -->
          <ng-template #tmpCountryPageShortcuts>
            <ng-container *ngIf="countryPageShortcutsAvailable">
              <div class="country-shortcut-links-container">
                <span class="flag-orb default" title="View country data"></span>
                <app-speech-bubble [arrowTop]="true">
                  <ul class="country-shortcuts">
                    <li *ngFor="let country of queryParams['country']">
                      <a [routerLink]="['/country', country]">
                        <span>View</span>
                        <span class="pad-word">{{ country }}</span>
                        <span>data</span>
                        <span
                          class="flag-orb"
                          [ngClass]="isoCountryCodes[country]"
                        >
                        </span>
                      </a>
                    </li>
                  </ul>
                </app-speech-bubble>
              </div>
            </ng-container>
          </ng-template>

          <span class="load-bar" [ngClass]="{ showing: isLoading }"></span>

          <!-- NO-DATA FALLBACK -->
          <div *ngIf="emptyDataset && !isLoading" class="no-data">
            <!-- COUNTRY PAGE LINKS -->
            <ng-content
              *ngTemplateOutlet="tmpCountryPageShortcuts"
            ></ng-content>

            <span i18n="Warn no results@@warnNoResults">No results found!</span>
            <ul>
              <li
                *ngIf="
                  queryParams[nonFacetFilters[NonFacetFilterNames.datasetId]]
                "
                i18n="No results detail dataset id@@warnNoResultsDatasetId"
              >
                try removing the <span class="param">dataset id</span> parameter
              </li>
              <li
                *ngIf="
                  queryParams[nonFacetFilters[NonFacetFilterNames.dateFrom]] &&
                  queryParams[nonFacetFilters[NonFacetFilterNames.dateTo]]
                "
                i18n="No results detail date@@warnNoResultsDate"
              >
                try removing the <span class="param">date</span> parameters
              </li>
            </ul>
          </div>

          <!-- COUNTRY PAGE LINK -->
          <ng-container *ngIf="!emptyDataset">
            <ng-content
              *ngTemplateOutlet="tmpCountryPageShortcuts"
            ></ng-content>
          </ng-container>

          <!-- CHART AND SUMMARY -->
          <div class="chart-and-summary">
            <div class="chart-wrapper" [ngClass]="{ hidden: emptyDataset }">
              <app-bar-chart
                #barChart
                [showPercent]="form.value.chartFormat.percent"
                [extraSettings]="
                  [
                    DimensionName.contentTier,
                    DimensionName.metadataTier
                  ].includes(form.value.facetParameter)
                    ? barChartSettingsTiers
                    : barChartSettings
                "
              ></app-bar-chart>
            </div>
            <ng-container>
              <app-grid-summary
                #gridSummary
                *ngIf="dataServerData"
                [grandTotal]="resultTotal"
                [summaryData]="dataServerData.results.breakdowns"
              ></app-grid-summary>
            </ng-container>
          </div>

          <!-- PERCENT SWITCH -->
          <ng-container *ngIf="!emptyDataset">
            <app-checkbox
              [form]="form"
              controlName="percent"
              i18n-labelText="As percentages@@percentSwitchLabel"
              labelText="As percentages"
              group="chartFormat"
              (valueChanged)="refreshChart()"
            ></app-checkbox>
          </ng-container>

          <!-- SNAPSHOTS -->
          <ng-container>
            <app-snapshots
              #snapshots
              [facetName]="form.value.facetParameter"
              (hideItem)="removeSeries($event)"
              (showItems)="addSeries($event)"
              [isVisible]="!emptyDataset"
            >
            </app-snapshots>
          </ng-container>

          <!-- GRID -->
          <app-grid
            #grid
            id="grid"
            [tierPrefix]="tierPrefix"
            facet="{{ form.value.facetParameter }}"
            (refreshData)="showAppliedSeriesInGridAndChart()"
            (chartPositionChanged)="chartPositionChanged($event)"
            [isVisible]="!emptyDataset"
          ></app-grid>

          <!-- EXPORT LINK -->
          <div class="export-opener-link-wrapper" *ngIf="!emptyDataset">
            <a
              class="export-opener-link"
              (click)="export.toggleActive()"
              i18n="Share Report Opener@@exportReportOpenerLink"
              >Export data</a
            >
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
