<form
  [formGroup]="form"
  class="dashboard-wrapper"
  [ngClass]="{
    'loading-modal': isLoading && !allProcessedFacetData
  }"
>
  <!-- templates -->

  <!-- date error -->

  <ng-template #dateErrors let-field="field">
    <ul class="errors">
      <li *ngIf="form.get(field)!.errors!.isTooEarly">Date is too early</li>
      <li *ngIf="form.get(field)!.errors!.isTooLate">Date is too late</li>
    </ul>
  </ng-template>

  <!-- filter template -->

  <ng-template #cbFieldset let-group="group" let-options="options">
    <li class="dropdown">
      <a
        (click)="toggleFilterMenu(group)"
        class="menu-opener"
        [ngClass]="{
          disabled: menuStates[group].disabled,
          open: menuStates[group].visible
        }"
        >{{ group | renameApiFacet }} </a
      ><a
        class="icon-clear"
        *ngIf="isFilterApplied(group)"
        (click)="clearFilter(group)"
      ></a>
      <div *ngIf="menuStates[group].visible" class="dropdown-wrapper">
        <div class="dropdown-content">
          <fieldset
            [formGroupName]="group"
            class="checkboxes"
            [ngClass]="group"
          >
            <ng-container *ngFor="let option of options">
              <label>
                <input
                  type="checkbox"
                  [value]="option"
                  (change)="updatePageUrl()"
                  [formControlName]="toInputSafeName(option)"
                  [attr.disabled]="
                    !selectOptionEnabled(group, option) ? true : null
                  "
                />
                {{ option | renameRights }}
              </label>
            </ng-container>
          </fieldset>
        </div>
      </div>

      <!--summary of applied -->

      <ng-container *ngIf="!menuStates[group].visible">
        <ng-container *ngIf="getSetCheckboxValues(group) as setVals">
          <ng-container *ngIf="setVals.length > 0">
            <ul class="applied-filter-summary">
              <li *ngFor="let val of setVals">{{ val }}</li>
            </ul>
          </ng-container>
        </ng-container>
      </ng-container>
    </li>
  </ng-template>

  <!-- filterRemoval -->

  <ng-template #filterRemoval let-group="group" let-options="options">
    <ng-container *ngFor="let val of options; let i = index">
      <li class="rm-filter">
        <fieldset [formGroupName]="group">
          <input
            id="rm_filter_{{ group }}_{{ i }}"
            type="checkbox"
            (change)="updatePageUrl()"
            [value]="val"
            [formControlName]="toInputSafeName(val)"
          />
          <label for="rm_filter_{{ group }}_{{ i }}">
            {{ group | renameApiFacet }} : {{ val | renameRights }}
          </label>
        </fieldset>
      </li>
    </ng-container>
  </ng-template>

  <!-- End templates / Begin main -->

  <div class="statistics-dashboard fit-to-page">
    <div class="statistics-dashboard-left" *ngIf="!isShowingSearchList">
      <div *ngIf="!isShowingSearchList">
        <h3 class="filters-header">Filters</h3>
        <a
          class="icon-clear"
          *ngIf="isFilterApplied()"
          (click)="clearFilter()"
        ></a>
        <ul class="filters" (clickOutside)="closeFilters()">
          <li>
            <ul class="switch-wrapper">
              <span> CT Zero </span>
              <label class="switch">
                <input
                  type="checkbox"
                  formControlName="contentTierZero"
                  (change)="updatePageUrl()"
                />
                <span class="slider round"></span>
              </label>
            </ul>
          </li>

          <ng-container *ngIf="allProcessedFacetData">
            <ng-container *ngFor="let filter of facetConf">
              <ng-content
                *ngTemplateOutlet="
                  cbFieldset;
                  context: {
                    options: filterData[filter],
                    group: filter
                  }
                "
              ></ng-content>
            </ng-container>
          </ng-container>
        </ul>
      </div>

      <ul class="filters inputs" *ngIf="!isShowingSearchList">
        <li class="column">
          <h3>Dataset</h3>
          <input
            formControlName="datasetName"
            (keyup.enter)="updatePageUrl()"
            placeholder="Dataset Name"
            class="datasetName"
          />
        </li>
        <li class="column">
          <h3 [title]="getFormattedDateParam()">Date From</h3>
          <input
            formControlName="dateFrom"
            #dateFrom
            [attr.max]="today"
            [attr.min]="yearZero"
            type="date"
            placeholder="{{ 'YYYY-MM-DD' }}"
            (change)="dateChange(true)"
          />
          <ng-container *ngIf="form.get('dateFrom').errors">
            <ng-content
              *ngTemplateOutlet="dateErrors; context: { field: 'dateFrom' }"
            ></ng-content>
          </ng-container>
        </li>
        <li class="column">
          <h3 [title]="getFormattedDateParam()">Date To</h3>
          <input
            formControlName="dateTo"
            #dateTo
            [attr.max]="today"
            type="date"
            placeholder="{{ 'YYYY-MM-DD' }}"
            (change)="dateChange(false)"
          />
          <ng-container *ngIf="form.get('dateTo').errors">
            <ng-content
              *ngTemplateOutlet="dateErrors; context: { field: 'dateTo' }"
            ></ng-content>
          </ng-container>
        </li>
      </ul>
    </div>

    <div class="statistics-dashboard-right">
      <div class="header-bar" [ngClass]="{ 'list-mode': isShowingSearchList }">
        <ng-container *ngIf="!form.value.facetParameter">
          <h3 class="header-data">Select a facet dimension</h3>
        </ng-container>
        <ng-container *ngIf="form.value.facetParameter">
          <h3
            class="header-data"
            [title]="getFormattedContentTierParam() + getFormattedFacetParam()"
          >
            By
            <select
              class="facet-param"
              formControlName="facetParameter"
              (change)="switchFacet()"
            >
              <option *ngFor="let facet of facetConf" [ngValue]="facet">
                {{ facet | renameApiFacet }}
              </option>
            </select>
            <span
              class="svg-icon-spin"
              [ngClass]="{ showing: isLoading }"
            ></span>
          </h3>
        </ng-container>
        <ng-container *ngIf="allProcessedFacetData">
          <h3 class="link-list">
            <a (click)="setIsShowingSearchList(true)" *ngIf="!isLoading"
              >Show List</a
            >
          </h3>
          <h3 class="link-data">
            <a (click)="setIsShowingSearchList(false)">Show Data</a>
          </h3>
        </ng-container>

        <ng-container *ngIf="form.value.dateFrom || form.value.dateTo">
          <span class="date-removal">
            <a
              (click)="datesClear()"
              class="date"
              *ngIf="form.value.dateFrom; let date"
            >
              {{ date }}
            </a>
            <a
              (click)="dateChange()"
              class="date"
              *ngIf="form.value.dateTo; let date"
            >
              {{ date }}
            </a>
          </span>
        </ng-container>
      </div>

      <ul class="rm-filters" [ngClass]="{ 'list-mode': isShowingSearchList }">
        <ng-container *ngFor="let filter of facetConf">
          <ng-content
            *ngTemplateOutlet="
              filterRemoval;
              context: {
                options: getSetCheckboxValues(filter),
                group: filter
              }
            "
          ></ng-content>
        </ng-container>
      </ul>

      <ng-container *ngIf="isShowingSearchList">
        <app-listing [showing]="true"></app-listing>
      </ng-container>

      <ngx-datatable
        *ngIf="tableData"
        #dataTable
        id="dataTable"
        [rows]="tableData.tableRows"
        [ngClass]="{ showing: !isShowingSearchList }"
        class="material expandable datatable fullscreen"
        [columnMode]="ColumnMode.flex"
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="50"
        [scrollbarV]="false"
        [limit]="5"
      >
        <!-- Mobile row detail -->
        <ngx-datatable-row-detail [rowHeight]="50">
          <ng-template
            let-row="row"
            let-expanded="expanded"
            ngx-datatable-row-detail-template
          >
            <div class="mobile-row">
              <span
                *ngFor="let col of tableData.columns | slice: 1"
                class="mobile-row-detail"
              >
                {{ row[col] }}</span
              >
            </div>
          </ng-template>
        </ngx-datatable-row-detail>

        <!-- Mobile controls -->
        <ngx-datatable-column
          [width]="50"
          [resizeable]="false"
          [sortable]="false"
          [draggable]="false"
          [canAutoResize]="false"
        >
          <ng-template
            let-row="row"
            let-expanded="expanded"
            ngx-datatable-cell-template
          >
            <a
              href="#"
              [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded"
              title="Expand / Collapse Row"
              (click)="toggleExpandRow(row)"
              class="desktop-hidden"
            >
            </a>
          </ng-template>
        </ngx-datatable-column>

        <!-- Col 0 -->
        <ngx-datatable-column
          name="{{ tableData.columns[0] | titlecase }}"
          [flexGrow]="3"
          [minWidth]="200"
        >
          <ng-template let-value="value" ngx-datatable-cell-template>
            <a target="_blank" [href]="getUrlRow(value)">
              {{ value }}
            </a>
          </ng-template>
        </ngx-datatable-column>

        <!-- Col >= 1 -->
        <ngx-datatable-column
          *ngFor="let col of tableData.columns | slice: 1; index as i"
          name="{{ col | titlecase }}"
          [flexGrow]="1"
        >
          <ng-template
            let-column="column"
            let-sort="sortFn"
            ngx-datatable-header-template
          >
            <span class="mobile-hidden">{{ column.name }}</span>
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span class="mobile-hidden">{{ value }}</span>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer *ngIf="true">
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
          >
            <div class="table-footer">
              <div class="table-footer-total">
                <strong>Total</strong>: {{ totalResults }}
              </div>
              <a [href]="getUrl(true)" target="_blank">View in portal</a>
            </div>

            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="dataTable.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>

      <label style="display: inline-block"
        ><input
          type="checkbox"
          formControlName="showPercent"
          (change)="extractChartData()"
        />As percentages</label
      >

      <ul
        *ngIf="allProcessedFacetData"
        class="options-wrapper"
        [ngClass]="{ showing: !isShowingSearchList }"
        (clickOutside)="closeDisplayOptions()"
      >
        <li>
          <a #downloadAnchor></a>
        </li>

        <li class="dropdown">
          <a
            class="menu-opener"
            (click)="toggleDownloadOptions()"
            [ngClass]="{ open: downloadOptionsOpen }"
            ><h3>Downloads</h3></a
          >
          <div *ngIf="downloadOptionsOpen" class="dropdown-wrapper">
            <ul class="dropdown-content">
              <li *ngFor="let exportType of exportTypes">
                <a (click)="export(exportType)">{{ exportType }}</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

      <div
        *ngIf="chartData"
        class="chart-wrapper"
        [ngClass]="{ showing: !isShowingSearchList }"
        id="barChart"
        #barChart
      >
        <app-bar-chart
          *ngIf="showBar"
          [showPercent]="form.value.showPercent"
          [extraSettings]="BarChartCool"
          [results]="chartData"
        ></app-bar-chart>
      </div>
    </div>
  </div>
</form>
