@import "../../scss/_variables";

@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

$width-left-col: 200px;

.header-bar {
  display: flex;

  .link-list a {
    padding-left: 0.4em;
    &::before {
      content: "/ ";
    }
  }
  &.list-mode {
    .header-data,
    .link-list {
      display: none;
    }
  }

  &:not(.list-mode) {
    .link-data {
      display: none;
    }
    .link-list {
      opacity: 0.1;
    }
    &:hover {
      .link-list {
        opacity: 1;
      }
    }
  }
}

.switch-wrapper {
  align-items: center;
  display: flex;
  > span {
    padding-right: 0.4em;
  }
  .switch {
    position: relative;
    width: 60px;

    .slider {
      background-color: #ccc;
      bottom: 0;
      border-radius: 34px;
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: $transition-duration;

      &::before {
        border-radius: 50%;
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: $transition-duration;
      }
    }

    input:checked + .slider {
      background-color: $eu-jade;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $eu-jade;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}

input[type="checkbox"] {
  &:enabled {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
  }
}

input[type="date"],
.datasetName {
  width: 11em;
}

input[type="date"]:not(:valid) {
  border: 1px solid red;
}

.errors {
  color: red;
}

.datasetName {
  margin-bottom: 1em;
}

app-overview {
  width: 100%;
}

datatable-scroller {
  width: 100% !important;
}

.chart-wrapper,
.options-wrapper,
ngx-datatable.ngx-datatable {
  transition: opacity 1s ease-in-out;
  opacity: 0;
  &.showing {
    opacity: 1;
  }
  &:not(.showing) {
    max-height: 0;
    overflow: hidden;
  }
}

.table-footer {
  display: flex;
  flex-direction: column;
  margin: 0.4em 0.7em;

  .table-footer-total {
    border-bottom: 1px solid #999;
    display: inline-block;
    margin-bottom: 0.4em;
  }
}

h3 {
  display: inline-block;
  position: relative;
}

label {
  cursor: pointer;
}

.checkboxes {
  display: inline-grid;
  grid-auto-flow: row;

  @media (min-width: $bp-med) {
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $bp-xl) {
    grid-template-columns: repeat(3, auto);
  }

  &.DATA_PROVIDER,
  &.PROVIDER,
  &.RIGHTS {
    @media (min-width: $bp-med) {
      grid-template-columns: repeat(1, auto);
    }

    @media (min-width: $bp-xl) {
      grid-template-columns: repeat(2, auto);
    }
  }

  white-space: nowrap;
  label {
    display: block;
    margin: 0 0.6em;
  }
}

.menu-opener {
  &.disabled {
    color: #aaa;
    pointer-events: none;
  }
}

.loading-modal::after,
.svg-icon-spin {
  background-image: url("data:image/svg+xml,%3Csvg width='23px' height='23px' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' style='background: none;'%3E%3Cg transform='translate%2850 50%29'%3E%3Cg transform='rotate%28139.412%29'%3E%3CanimateTransform attributeName='transform' type='rotate' values='0;360' keyTimes='0;1' dur='3.4s' repeatCount='indefinite'%3E%3C/animateTransform%3E%3Cpath d='M37.43995192304605 -6.5 L47.43995192304605 -6.5 L47.43995192304605 6.5 L37.43995192304605 6.5 A38 38 0 0 1 35.67394948182593 13.090810836924174 L35.67394948182593 13.090810836924174 L44.33420351967032 18.090810836924174 L37.83420351967032 29.34914108612188 L29.17394948182593 24.34914108612188 A38 38 0 0 1 24.34914108612188 29.17394948182593 L24.34914108612188 29.17394948182593 L29.34914108612188 37.83420351967032 L18.090810836924184 44.33420351967032 L13.090810836924183 35.67394948182593 A38 38 0 0 1 6.5 37.43995192304605 L6.5 37.43995192304605 L6.500000000000001 47.43995192304605 L-6.499999999999995 47.43995192304606 L-6.499999999999996 37.43995192304606 A38 38 0 0 1 -13.09081083692417 35.67394948182593 L-13.09081083692417 35.67394948182593 L-18.09081083692417 44.33420351967032 L-29.34914108612187 37.834203519670325 L-24.349141086121872 29.173949481825936 A38 38 0 0 1 -29.17394948182592 24.34914108612189 L-29.17394948182592 24.34914108612189 L-37.83420351967031 29.349141086121893 L-44.33420351967031 18.0908108369242 L-35.67394948182592 13.090810836924193 A38 38 0 0 1 -37.43995192304605 6.5000000000000036 L-37.43995192304605 6.5000000000000036 L-47.43995192304605 6.500000000000004 L-47.43995192304606 -6.499999999999993 L-37.43995192304606 -6.499999999999994 A38 38 0 0 1 -35.67394948182593 -13.090810836924167 L-35.67394948182593 -13.090810836924167 L-44.33420351967032 -18.090810836924163 L-37.834203519670325 -29.34914108612187 L-29.173949481825936 -24.34914108612187 A38 38 0 0 1 -24.349141086121893 -29.17394948182592 L-24.349141086121893 -29.17394948182592 L-29.349141086121897 -37.834203519670304 L-18.0908108369242 -44.334203519670304 L-13.090810836924195 -35.67394948182592 A38 38 0 0 1 -6.500000000000005 -37.43995192304605 L-6.500000000000005 -37.43995192304605 L-6.500000000000007 -47.43995192304605 L6.49999999999999 -47.43995192304606 L6.499999999999992 -37.43995192304606 A38 38 0 0 1 13.090810836924149 -35.67394948182594 L13.090810836924149 -35.67394948182594 L18.090810836924142 -44.33420351967033 L29.349141086121847 -37.83420351967034 L24.349141086121854 -29.17394948182595 A38 38 0 0 1 29.17394948182592 -24.349141086121893 L29.17394948182592 -24.349141086121893 L37.834203519670304 -29.349141086121897 L44.334203519670304 -18.0908108369242 L35.67394948182592 -13.090810836924197 A38 38 0 0 1 37.43995192304605 -6.500000000000007 M0 -20A20 20 0 1 0 0 20 A20 20 0 1 0 0 -20' fill='%234d4d4d' %3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.svg-icon-spin {
  display: none;
  height: 23px;
  position: absolute;
  right: -1.35em;
  top: 0;
  transform: scale(0.7);
  width: 23px;
  &.showing {
    display: inline-block;
  }
}

.datatable {
  margin: 1.6em 0;
}

.icon-clear {
  transform: scale(0.3);
  transform-origin: -60% 36%;

  // highlight items to remove
  &:hover + .applied-filter-summary li::before {
    color: red;
  }
}

.applied-filter-summary {
  color: #999;
  font-size: 0.7em;
  font-style: italic;
  list-style: none;
  margin: 0.5em;

  // apply custom bullets
  li::before {
    content: "\2022";
    color: #999;
    display: inline-block;
    font-weight: bold;
    margin-left: -1em;
    transition: color $transition-duration ease-in-out;
    width: 0.85em;
  }
}

.filters-header + .icon-clear {
  transform-origin: 90% 34%;

  // highlight items to remove
  &:hover + .filters .applied-filter-summary {
    li::before {
      color: red;
    }
  }
}

.filter-select {
  display: block;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $bp-small;
}

.options-wrapper {
  display: flex;
}

.column,
.filters {
  display: flex;
  flex-direction: column;
}

.filters {
  > li:not(:last-child) {
    margin-bottom: 1em;
  }

  &:last-child {
    margin-top: 2em;
  }
}

.dropdown {
  position: relative;
  a.open::after {
    transform: rotate(180deg);
  }
}

.chart-settings {
  align-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 8em;
  padding: 1em;
}

.chart-wrapper.showing {
  height: 500px;
  max-width: 100%;
  padding-bottom: 5em;
}

.facet-params {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  label {
    align-items: center;
    display: flex;
    height: 34px;
    padding: 0;
  }
}

.mobile-row {
  font-size: 14px;
  padding-left: 60px;
}

.mobile-row-detail {
  &:not(:last-child)::after {
    content: ", ";
  }
}

.statistics-dashboard {
  display: flex;
  flex-direction: column-reverse;
}

.statistics-dashboard-right {
  min-width: 0;
}

@media (min-width: $bp-xl) {
  .filter-params {
    display: flex;
    flex-direction: column;
  }

  .filter-select {
    width: $width-left-col;
  }

  .statistics-dashboard {
    flex-direction: row;
  }
}

@media screen and (max-width: 800px) {
  .desktop-hidden {
    display: initial;
  }
  .mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .desktop-hidden {
    display: none;
  }
  .mobile-hidden {
    display: initial;
  }
}
