@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";

$total-width: 268px;

.checkbox-filter {
  border-bottom: 1px solid $gray-5;
  margin-left: 0;

  .icon {
    background: svg-url-icon-search("#333") center no-repeat;
    top: 0;
  }

  .checkbox-filter-input {
    border: 0;
    box-shadow: none;
    font-size: 14px;
    margin-left: $spacing-s;
    width: 100%;
  }
}

.checkboxes {
  background: $white;
  border-radius: 0 0 $spacing-s $spacing-s;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.25);
  min-width: $total-width;
  padding-bottom: 16px;
  position: absolute;
  z-index: 1;
}

.filter {
  color: #000;
  position: relative;
  width: $total-width;
}

.filter-opener {
  color: $gray-faint;
  display: block;
  position: relative;

  &::after {
    color: $gray-med;
    content: "⌄";
    font-size: 20px;
    height: 16px;
    line-height: 6px;
    position: absolute;
    right: $spacing-s;
    top: 14px;
  }

  &.open {
    background-color: $gray-5;
    color: #000;

    &::after {
      transform: rotate(180deg);
    }
  }

  .container-h {
    margin: 0;
  }
}

.opener-name {
  margin: 0 $spacing-s;
  text-transform: capitalize;
}

.opener-name-container {
  position: relative;
  paddin: 8px 20px 8px 8px;
}

.selection {
  display: inline-block;
  margin: 0 30px 0 $spacing-s;
  position: relative;
  top: 5px;
}

.selection + .opener-name {
  color: $stats-blue;
  font-size: 8px;
  font-weight: 600;
  line-height: 8px;
  position: absolute;
  top: 0px;
  left: 0;
}
