@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";

$gap: 8px;
$row-height: 32px;
$total-height: #{$row-height * 5};
$total-width: 268px;
$width-icon: 18px;

.checkbox {
  opacity: 0;
}

.checkbox-filter {
  align-items: center;
  border-bottom: 1px solid $gray-5;
  display: flex;
  flex-direction: row;
  margin: $gap;
  padding: $gap 0;

  .icon {
    background: svg-url-icon-search("#333") center no-repeat;
    display: block;
    height: $width-icon;
    min-width: $width-icon;
  }

  .checkbox-filter-input {
    border: 0;
    box-shadow: none;
    margin-left: $gap;
    width: 100%;
  }
}

.checkbox-filter-input,
.filter-label {
  font-size: 14px;
}

.checkboxes {
  background: $white;
  border-radius: 0 0 $gap $gap;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.25);
  min-width: $total-width;
  padding-bottom: 16px;
  position: absolute;
  z-index: 1;
}

.checkboxes-list {
  display: flex;
  flex-direction: column;
  max-height: $total-height;
  overflow: hidden;
  overflow-y: auto;
}

.checkbox-labelled {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: $gap;
  position: relative;

  &:hover {
    background-color: $offwhite;
  }

  :first-child {
    min-width: $width-icon;
  }

  :last-child {
    width: 100%;
  }
}

.filter {
  color: #000;
  position: relative;
  width: $total-width;
}

.filter-label {
  line-height: $row-height;
  margin: 0 $gap;
  white-space: nowrap;
}

.filter-opener {
  color: $gray-faint;
  display: block;
  padding: $gap 20px $gap $gap;
  position: relative;

  &::after {
    color: $gray-med;
    content: "⌄";
    font-size: 20px;
    height: 16px;
    line-height: 6px;
    position: absolute;
    right: $gap;
    top: 14px;
  }

  &:hover {
    color: $gray-faint;
  }

  &.open {
    background: $gray-5;
    color: #000;

    &::after {
      transform: rotate(180deg);
    }
  }
}

.checkmarked-checkbox {
  height: $width-icon;
  position: relative;
  width: $width-icon;

  &::before {
    bottom: 0;
    background-image: svg-url-icon-checkbox("#000");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    min-width: $width-icon;
    height: $width-icon;
  }

  &.checked::before {
    background-image: svg-url-icon-checkbox-checked("#000");
  }
}

.opener-name {
  text-transform: capitalize;
}

.selection {
  position: relative;
  top: 5px;
}

.selection + .opener-name {
  color: $stats-blue;
  font-size: 8px;
  font-weight: 600;
  position: absolute;
  top: 5px;
  left: $gap;
}
