<ul class="filter" *ngIf="form && group" [formGroup]="form">
  <li>
    <a
      (click)="toggle()"
      class="filter-opener"
      [ngClass]="{
        disabled: state.disabled,
        open: state.visible
      }"
      >{{ group | renameApiFacet }}
    </a>
  </li>
  <li *ngIf="state.visible" class="checkboxes">
    <ul
      *ngFor="let option of options; let i = index"
      [formGroupName]="group"
      class="checkbox-labelled"
    >
      <li
        class="checkmarked-checkbox"
        [ngClass]="{
          checked: form.value[group][option.name]
        }"
      >
        <input
          id="add_filter_{{ group }}_{{ i }}"
          class="checkbox"
          type="checkbox"
          [value]="option.name"
          (change)="changed()"
          [formControlName]="option.name"
          [attr.disabled]="
            !selectOptionEnabled(group, option.name) ? true : null
          "
        />
      </li>
      <li>
        <label class="filter-label" for="add_filter_{{ group }}_{{ i }}">
          {{ option.label | renameRights }}
        </label>
      </li>
    </ul>
  </li>
</ul>
