@import "../../scss/_variables";

$disabled-colour: $gray-5;

h2 {
  padding: 16px;
}

li {
  list-style: none;
}

.appendice-grid {
  grid-template-columns: repeat(11, auto);
  .header {
    font-weight: 600;
  }
}

.appendice-grid-wrapper {
  margin: 32px 16px;
}

.appendice-grid,
.chart-wrapper,
.legend-wrapper,
.line-chart-wrapper,
.legend-grid,
.legend-grid-inner {
  font-size: 14px;
  background: #fff;
}

.appendice-grid,
.legend-wrapper,
.line-chart-wrapper {
  border-radius: 8px;
}

.appendice-grid,
.legend-grid,
.legend-grid-inner {
  display: grid;

  & > :not(.legend-grid-inner) {
    padding: 0.6em;
  }
}

.bulleted {
  list-style: disc;
}

.hover-show {
  position: relative;
  &:hover {
    .hover-show-content {
      display: block;
    }
  }
}

.hover-show-content {
  display: none;
  font-size: 14px;
  padding: 2em 1em 3em 5em;
  position: absolute;
  right: -170px;
  top: -82px;
  z-index: 1;
  text-transform: none;

  .hover-show-content-inner {
    background: #fff;
    border: 1px solid #777;
    border-radius: 8px;
    display: inline-block;
    padding: 0.5em;
  }
}

.indented {
  margin-left: 1rem;
  &::marker {
    color: inherit;
  }
}

.chart-and-legend-wrapper {
  display: flex;
  margin-top: 4em;
  > :first-child {
    flex-grow: 1;
  }
}

.chart-and-legend-wrapper,
.page-subtitle,
.page-title {
  padding: 0 16px;
}

.item-header {
  position: relative;
}

.headed-item {
  display: flex;
  flex-direction: column;

  .item-header {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

.legend-grid {
  grid-template-columns: repeat(4, auto);
  max-height: 338px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &:hover {
    &.scrollable-downwards .scrollable-indicator {
      opacity: 0;
    }
  }

  &.scrollable-downwards .scrollable-indicator {
    opacity: 1;
  }

  // push scrollbar away from data
  .pad-right {
    padding-right: 0.6em;
  }

  .scrollable-indicator {
    opacity: 0;
  }

  .scrollable-indicator {
    bottom: 0;
    grid-column: 1/5;
    height: 0px;
    padding: 0 !important;
    pointer-events: none;
    position: sticky;
    transition: opacity 0.2s linear;

    &::before {
      background: linear-gradient(0deg, #fff 0%, transparent 100%);
      content: "";
      display: block;
      height: 4.5em;
      position: absolute;
      top: -4.5em;
      width: 100%;
    }
  }
}

.legend-grid-inner {
  grid-column: 2/5;
  grid-template-columns: subgrid;
  margin: 0;
  column-gap: 4px;
  & > * {
    border-left: 1px solid $disabled-colour;
  }
}

.line-chart-wrapper,
.legend-wrapper {
  padding-top: 22px;
  display: flex;
  flex-direction: column;
}

.legend-grid-wrapper {
  margin: 0 0 0 32px;
}

.legend-wrapper {
  padding-right: 25px;
}

.line-chart-wrapper {
  padding-right: 25px;
}

.legend-item-country-toggle {
  position: relative;

  &.stick-left {
    font-weight: bold;
  }
  a {
    color: $gray-med;
    position: relative;
    margin: 0 0.4em 0 2em;
    white-space: nowrap;
  }
}

.legend-item-series-toggle,
.legend-item-target-toggle {
  color: $gray-med;
  white-space: nowrap;

  &.hidden {
    color: $disabled-colour;
  }
}

.legend-item-sizer {
  display: block;
  font-weight: bold;
  height: 0;
  margin-left: 1em;
  visibility: hidden;
}

.legend-item-target-toggle {
  font-size: 12px;
  max-width: 8em;
  min-width: 8em;
  display: flex;
  justify-content: space-between;
}

.target-total {
  flex-grow: 1;
  color: #777;
  font-weight: normal;
  margin-left: 1.4em;
  text-align: right;

  &.italic {
    font-style: italic;
    margin-right: 0.4em;
  }
}

.legend-item-series-toggle,
.legend-item-country-toggle,
.legend-item-target-toggle {
  font-weight: 600;
}

.legend-item-series-toggle {
  align-items: center;
  display: flex;
  flex-direction: row;

  * {
    line-height: 1.6em;
  }

  // legend marker
  .marker {
    border: 1px solid $disabled-colour;
    content: "";
    display: block;
    height: 12px;
    margin-right: 0.4em;
    width: 12px;
  }
}

.stick-left,
.stick-right {
  background-color: #fff;
  position: sticky;
  z-index: 1;
}

.stick-left {
  // use transparent fade on the the last of class
  &:not(:has(~ .stick-left)) {
    background: linear-gradient(0deg, transparent 00%, #fff 50%);
  }
}

.stick-right {
  right: 0;
  .legend-item-series-toggle {
    font-weight: bold;
  }
}

.page-subtitle {
  :not(:last-child)::after {
    content: ",";
  }
}

.page-title {
  padding-top: 16px;
}

$timeTransition: 0.25s;

.roll-down-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $timeTransition linear,
    margin-bottom $timeTransition linear;

  &:not(.is-open) > * {
    grid-template-rows: 1fr;
  }

  &.is-open {
    grid-template-rows: 1fr;
  }

  .roll-down {
    overflow-y: hidden;
    margin: 0.2em 0 0.3em 0;
  }
}

// COPIED: TODO: refactor

.save,
.saved {
  background-position: center;
  background-size: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' viewBox='0 -256 1792 1792' id='svg2' version='1.1' inkscape:version='0.48.3.1 r9886' width='100%25' height='100%25' sodipodi:docname='pushpin_font_awesome.svg'%3E%3Cmetadata id='metadata12'%3E%3Crdf:rdf%3E%3Ccc:work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage'%3E%3C/dc:type%3E%3C/cc:work%3E%3C/rdf:rdf%3E%3C/metadata%3E%3Cdefs id='defs10'%3E%3C/defs%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='640' inkscape:window-height='480' id='namedview8' showgrid='false' inkscape:zoom='0.13169643' inkscape:cx='896' inkscape:cy='896' inkscape:window-x='0' inkscape:window-y='25' inkscape:window-maximized='0' inkscape:current-layer='svg2'%3E%3C/sodipodi:namedview%3E%3Cg transform='matrix%281,0,0,-1,318.91525,1209.4915%29' id='g4'%3E%3Cpath d='m 480,672 v 448 q 0,14 -9,23 -9,9 -23,9 -14,0 -23,-9 -9,-9 -9,-23 V 672 q 0,-14 9,-23 9,-9 23,-9 14,0 23,9 9,9 9,23 z m 672,-352 q 0,-26 -19,-45 -19,-19 -45,-19 H 659 l -51,-483 q -2,-12 -10.5,-20.5 Q 589,-256 577,-256 h -1 q -27,0 -32,27 L 468,256 H 64 Q 38,256 19,275 0,294 0,320 0,443 78.5,541.5 157,640 256,640 v 512 q -52,0 -90,38 -38,38 -38,90 0,52 38,90 38,38 90,38 h 640 q 52,0 90,-38 38,-38 38,-90 0,-52 -38,-90 -38,-38 -90,-38 V 640 q 99,0 177.5,-98.5 Q 1152,443 1152,320 z' id='path6' inkscape:connector-curvature='0' style='fill:%23828282'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  content: "";
  height: 12px;
  left: -24px;
  padding: 12px;

  position: absolute;
  top: 0px;
  transform: rotate(270deg);
  transition: transform 20ms;
  width: 12px;

  &:hover {
    //top: -1px;
    transform: rotate(360deg);
  }
}

:hover + .save {
  //top: -1px;
  transform: rotate(360deg);
}

.save {
  // change
  opacity: 0;
}

.saved {
  // change
  opacity: 1;
}

// change
.saved {
  //  top: 1px;
  //transform: rotate(360deg);
}

// COPIED

.data-link {
  color: $stats-blue;
  display: inline-block;
  font-weight: 600;
  margin: 14px 0 25px auto;
  &::after {
    content: " >";
  }
}
