@import "../../scss/_variables";

$disabled-colour: $gray-5;

h2 {
  padding: 16px;
}

li {
  list-style: none;
}

.appendice-grid {
  grid-template-columns: repeat(11, auto);
  .header {
    font-weight: 600;
  }
}

.appendice-grid-wrapper {
  margin: 32px 16px;
}

.appendice-grid,
.chart-wrapper,
.line-chart-wrapper {
  font-size: 14px;
  background: #fff;
}

.appendice-grid,
.line-chart-wrapper {
  border-radius: 8px;
}

.appendice-grid {
  display: grid;
  padding: 0.6em;
}

.hover-show {
  position: relative;
  &:hover {
    .hover-show-content {
      display: block;
    }
  }
}

.hover-show-content {
  display: none;
  font-size: 14px;
  padding: 2em 1em 3em 5em;
  position: absolute;
  right: -170px;
  top: -82px;
  z-index: 1;
  text-transform: none;

  .hover-show-content-inner {
    background: #fff;
    border: 1px solid #777;
    border-radius: 8px;
    color: $gray-med;
    cursor: default;
    display: inline-block;
    padding: 0.6em;
  }
}

.chart-and-legend-wrapper {
  display: flex;
  margin-top: 4em;
  > :first-child {
    flex-grow: 1;
  }
}

.chart-and-legend-wrapper,
.page-subtitle,
.page-title {
  padding: 0 16px;
}

.item-header {
  position: relative;
}

.headed-item {
  display: flex;
  flex-direction: column;

  .item-header {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 12px;
  }

  & + .headed-item {
    margin-left: 32px;
  }
}

.line-chart-wrapper {
  padding-right: 25px;
  padding-top: 22px;
  display: flex;
  flex-direction: column;
}

.page-subtitle {
  :not(:last-child)::after {
    content: ",";
  }
}

.page-title {
  padding-top: 16px;
}

// COPIED

.data-link {
  color: $stats-blue;
  display: inline-block;
  font-weight: 600;
  margin: 14px 0 25px auto;
  &::after {
    content: " >";
  }
}
