apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- statistics-dashboard-service.yaml
- ingress.yaml
configMapGenerator:
- name: statistics-dashboard-environment
  envs:
  - env_file
- name: statistics-dashboard-nginx-conf
  files:
  - nginx-local.conf
generatorOptions:
  disableNameSuffixHash: true
  labels:
    type: generated
  annotations:
    note: generated
