h2 {
  margin-bottom: 1em;
  &:not(.page-title) {
    margin-top: 2em;
  }
}

h2:not(.page-title),
ul,
p {
  padding: 0 16px;
}

ul {
  margin: 0.75em 0;
}

ul li {
  list-style: disc;
  margin-left: 1em;
}

p + p {
  margin-top: 0.75em;
}

.fit-to-page {
  margin-bottom: 5em;
}

.page-title-wrapper {
  top: 3.75em;
}
