<ul class="dates" [formGroup]="form">
  <li>
    <mat-form-field class="shrinking-mat-form-field" appearance="outline">
      <mat-label i18n="Label Date Range@@labelDateRange"
        >Select a date range</mat-label
      >
      <mat-date-range-input
        [formGroup]="form"
        [rangePicker]="rangePicker"
        [min]="yearZero"
        [max]="today"
      >
        <input
          matStartDate
          placeholder="Start date"
          i18n-placeholder="Label Date Range Start@@labelDateRangeStart"
          formControlName="dateFrom"
          (dateChange)="dateChange()"
          data-e2e="dateFrom"
          #dateFrom
        />
        <input
          matEndDate
          placeholder="End date"
          i18n-placeholder="Label Date Range End@@labelDateRangeEnd"
          formControlName="dateTo"
          (dateChange)="dateChange()"
          data-e2e="dateTo"
          #dateTo
        />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="rangePicker">
      </mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker></mat-date-range-picker>
    </mat-form-field>
  </li>

  <li *ngIf="form.get('dateFrom').errors || form.get('dateTo').errors">
    <ul class="errors">
      <li
        *ngIf="
          form.get('dateFrom').errors && form.get('dateFrom').errors.isTooEarly
        "
        i18n="Error date-range early start @@errorDateRangeEarlyStart"
      >
        The start date is too early
      </li>
      <li
        *ngIf="
          form.get('dateTo').errors && form.get('dateTo').errors.isTooEarly
        "
        i18n="Error date-range early start @@errorDateRangeEarlyEnd"
      >
        The end date is too early
      </li>
      <li
        *ngIf="
          form.get('dateFrom').errors && form.get('dateFrom').errors.isTooLate
        "
        i18n="Error date-range late start @@errorDateRangeLateStart"
      >
        The start date is too late
      </li>
      <li
        *ngIf="form.get('dateTo').errors && form.get('dateTo').errors.isTooLate"
        i18n="Error date-range late end @@errorDateRangeLateEnd"
      >
        The end date is too late
      </li>
    </ul>
  </li>
</ul>
