<a (click)="toggleCtrls()" *ngIf="settings.configurable">
  <ng-container *ngIf="!settings.ctrlsOpen"> configure &gt;&gt;</ng-container>
  <ng-container *ngIf="settings.ctrlsOpen"> close &lt;&lt;</ng-container>
</a>

<div *ngIf="settings.ctrlsOpen && settings.ctrlsOpen" class="am4-ctrls">
  <div class="sub-group">
    <h4>Max Widths (px)</h4>
    <label
      ><input
        type="number"
        [(ngModel)]="settings.maxLabelWidth"
        (change)="applySettings()"
      />Labels</label
    >
  </div>

  <div class="sub-group">
    <h4>Labels</h4>
    <label [ngClass]="{ disabled: settings.labelWrap }"
      ><input
        type="checkbox"
        [(ngModel)]="settings.labelTruncate"
        (change)="applySettings()"
      />Truncate</label
    >
    <label [ngClass]="{ disabled: settings.labelTruncate }"
      ><input
        type="checkbox"
        [(ngModel)]="settings.labelWrap"
        (change)="applySettings()"
      />Wrap</label
    >
  </div>

  <div class="sub-group">
    <h4>Stroke (available when not 3D)</h4>
    <label [ngClass]="{ disabled: settings.is3D }"
      ><input
        type="number"
        [(ngModel)]="settings.strokeWidth"
        (change)="applySettings()"
      />Width</label
    >
    <label [ngClass]="{ disabled: settings.is3D }"
      ><input
        type="number"
        [(ngModel)]="settings.strokeOpacity"
        (change)="applySettings()"
        ng-pattern="/^[0-9]+(\.[0-9]{1})?$/"
        max="1"
        min="0"
        step="0.1"
      />Opacity</label
    >
    <label [ngClass]="{ disabled: settings.is3D }"
      ><input
        type="color"
        [(ngModel)]="settings.strokeColour"
        (change)="applySettings()"
      />Colour</label
    >
  </div>

  <div class="sub-group">
    <h4>Legend</h4>
    <label
      ><input
        type="checkbox"
        [(ngModel)]="settings.chartLegend"
        (change)="applySettings(true)"
      />Show</label
    >
  </div>

  <div class="sub-group">
    <h4>Zoom</h4>
    <a (click)="zoomTop5()">zoom to top 5</a>
    <label
      ><input
        type="checkbox"
        [(ngModel)]="settings.hasScroll"
        (change)="applySettings(true)"
      />Scroll bar</label
    >
  </div>

  <div class="sub-group">
    <h4>Misc</h4>
    <label
      ><input
        type="checkbox"
        [(ngModel)]="settings.isHorizontal"
        (change)="applySettings(true)"
      />Horizontal</label
    >
    <label
      ><input
        type="checkbox"
        [(ngModel)]="settings.hasLines"
        (change)="applySettings(true)"
      />Lines</label
    >
    <label
      ><input
        type="checkbox"
        [(ngModel)]="settings.showExports"
        (change)="applySettings(true)"
      />Exports</label
    >
    <label
      ><input
        type="checkbox"
        [(ngModel)]="settings.is3D"
        (change)="applySettings(true)"
      />3D</label
    >
    <label [ngClass]="{ disabled: !settings.is3D }"
      ><input
        type="checkbox"
        [(ngModel)]="settings.isCylindrical"
        (change)="applySettings(true)"
      />Cylinder</label
    >
  </div>
</div>
<div id="{{ chartId }}" class="bar-chart"></div>
<div id="barLegend" [ngClass]="{ offscreen: !settings.chartLegend }"></div>
