<div
  class="summary-grid totals"
  *ngIf="_summaryData && _summaryData.results[0]"
>
  <span class="total-title"
    >Top {{ _summaryData.breakdownBy | renameApiFacetShort }}</span
  >
  <span class="total-title"
    >Total
    {{ "plural_" + _summaryData.breakdownBy | renameApiFacetShort }}</span
  >

  <span class="total label">{{
    _summaryData.results[0].value | renameRights
  }}</span>

  <span class="total">{{ _summaryData.results.length }}</span>

  <span class="total-title"
    >Top {{ _summaryData.breakdownBy | renameApiFacetShort }} percentage</span
  >
  <span class="total-title"
    >Total records in
    {{ "plural_" + _summaryData.breakdownBy | renameApiFacetShort }}</span
  >
  <span class="total">{{ _summaryData.results[0].percentage | percent }}</span>
  <span class="total" data-e2e="total-records">{{ grandTotal | number }}</span>

  <span class="total-title"
    >Top {{ _summaryData.breakdownBy | renameApiFacetShort }} records
    count</span
  >
  <span></span>
  <span class="total">{{ _summaryData.results[0].count | number }}</span>
  <span></span>
</div>
