<div
  class="summary-grid totals"
  *ngIf="summaryData && summaryData.results && summaryData.results[0]"
>
  <span class="total-title"
    >Top {{ summaryData.breakdownBy | renameApiFacetShort }}</span
  >
  <span class="total-title"
    >Total {{ "plural_" + summaryData.breakdownBy | renameApiFacetShort }}</span
  >

  <span class="total label">{{ summaryData.results[0].value }}</span>

  <span class="total">{{ summaryData.results.length }}</span>

  <span class="total-title"
    >Top {{ summaryData.breakdownBy | renameApiFacetShort }} percentage</span
  >
  <span class="total-title"
    >Total records in
    {{ "plural_" + summaryData.breakdownBy | renameApiFacetShort }}</span
  >
  <span class="total">{{ summaryData.results[0].percentage }}%</span>
  <span class="total" data-e2e="total-records">{{ grandTotal | number }}</span>

  <span class="total-title"
    >Top {{ summaryData.breakdownBy | renameApiFacetShort }} records count</span
  >
  <span></span>
  <span class="total">{{ summaryData.results[0].count | number }}</span>
  <span></span>
</div>
