<div class="summary-grid totals" *ngIf="_summaryData.fields[0]">
  <span class="total-title"
    >Top {{ _summaryData.name | renameApiFacetShort }}</span
  >
  <span class="total-title"
    >Total {{ "plural_" + _summaryData.name | renameApiFacetShort }}</span
  >
  <span class="total label">{{ _summaryData.fields[0].label }}</span>
  <span class="total">{{ _summaryData.fields.length }}</span>

  <span class="total-title"
    >Top {{ _summaryData.name | renameApiFacetShort }} percentage</span
  >
  <span class="total-title"
    >Total records in
    {{ "plural_" + _summaryData.name | renameApiFacetShort }}</span
  >
  <span class="total">{{ _summaryData.fields[0].percent }}%</span>
  <span class="total">{{ grandTotal | number }}</span>

  <span class="total-title"
    >Top {{ _summaryData.name | renameApiFacetShort }} records count</span
  >
  <span></span>
  <span class="total">{{ _summaryData.fields[0].count | number }}</span>
  <span></span>
</div>
