@if (form()) {
<label class="checkbox-labelled {{ group() }}">
  <span
    class="checkmarked-checkbox"
    [class.checked]="form()?.value?.[group()]?.[controlName()]"
  >
    <!-- bind directly via the parent form group value mapper, bypassing group directives -->
    <input
      #baseInput
      class="checkbox"
      type="checkbox"
      (change)="onInputChange($event)"
      (keyup.Space)="onSpaceKey()"
      [formControl]="form()!.get([group(), controlName()])"
    />
  </span>
  <span class="checkbox-label" [innerHTML]="labelText()"></span>
</label>
}
