<span [formGroup]="form" class="checkbox-labelled">
  <span
    class="checkmarked-checkbox"
    [ngClass]="{
      checked: form.value[group][controlName]
    }"
    [formGroupName]="group"
  >
    <input
      id="cb_{{ instanceId }}"
      class="checkbox"
      type="checkbox"
      (change)="changed()"
      [value]="value"
      [formControlName]="controlName"
    />
  </span>

  <span>
    <label class="filter-label" for="cb_{{ instanceId }}">
      {{ labelText }}
    </label>
  </span>
</span>
