@import "../../scss/_variables";
@import "../../scss/functions/_icon_urls";

.checkbox {
  opacity: 0;
}

.checkbox-labelled {
  align-items: center;
  display: flex;
  flex-direction: row;

  margin: 0;
  padding: 0;
  position: relative;
  &:hover {
    background-color: $offwhite;
  }

  :first-child {
    min-width: $width-icon-filter;
  }

  :last-child {
    width: 100%;
  }
}

.checkmarked-checkbox {
  height: $width-icon-filter;
  position: relative;
  width: $width-icon-filter;

  &::before {
    bottom: 0;
    background-image: svg-url-icon-checkbox("#000");
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    min-width: $width-icon-filter;
    height: $width-icon-filter;
  }

  &.checked::before {
    background-image: svg-url-icon-checkbox-checked("#000");
  }
}
