<label *ngIf="form" [formGroup]="form" class="checkbox-labelled {{ group }}">
  <span
    class="checkmarked-checkbox"
    [ngClass]="{
      checked: form.value[group][controlName]
    }"
    [formGroupName]="group"
  >
    <input
      #baseInput
      class="checkbox"
      type="checkbox"
      (change)="onChange()"
      (keyup.esc)="onEscapeKey()"
      (keydown.tab)="onTabKey($event)"
      (keyup.Space)="onSpaceKey()"
      [formControlName]="controlName"
    />
  </span>
  <span class="checkbox-label" [innerHTML]="labelText"> </span>
</label>
