<span class="ct-zero container-h">
  <span [formGroup]="form" class="checkbox-labelled">
    <span
      class="checkmarked-checkbox"
      [ngClass]="{
        checked: form.value.contentTierZero,
        disabled: disabled
      }"
    >
      <input
        id="ctZero"
        class="checkbox"
        type="checkbox"
        (change)="valueChanged()"
        formControlName="contentTierZero"
      />
    </span>
    <label
      class="filter-title"
      [ngClass]="{
        disabled: disabled
      }"
      for="ctZero"
    >
      <ng-template
        #enableCTZero
        i18n="control label enable content tier zero@@ctrlLabelEnableCTZero"
      >
        Enable content tier 0
      </ng-template>
      <ng-container
        *ngIf="form.value.contentTierZero; else enableCTZero"
        i18n="control label disable content tier zero@@ctrlLabelDisableCTZero"
      >
        Disable content tier 0
      </ng-container>
    </label>
  </span>
  <a
    class="info-icon"
    [href]="externalLinks.ctZero"
    target="_blank"
    title="Documentation"
    [ngClass]="{
      checked: form.value.contentTierZero,
      disabled: disabled
    }"
  ></a>
</span>
