<div class="dashboard-wrapper">
  <div>
    <a routerLink="/overview" routerLinkActive="active">overview</a>
  </div>
  <form [formGroup]="searchForm">
    <input (keyup)="search()" formControlName="searchTerm" />
  </form>
  <ul>
    <li *ngFor="let dataProvider of getFiltered()">
      <ul
        class="data-provider"
        [ngClass]="{ 'providers-showing': dataProvider.providersShowing }"
      >
        <li>
          <a
            class="name"
            [ngClass]="{ 'providers-loaded': !!dataProvider.providers }"
            (click)="
              showHide(dataProvider.name, !dataProvider.providersShowing)
            "
            >{{ dataProvider.name }}</a
          >
        </li>
        <li class="provider">
          <ul>
            <li *ngFor="let provider of dataProvider.providers">
              {{ provider }}
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
