<div class="index-listing" [ngClass]="{ showing: showing }">
  <form [formGroup]="searchForm">
    <input
      (keyup)="search()"
      class="search-term"
      formControlName="searchTerm"
      placeholder="Type to search"
    />
  </form>
  <ul>
    <li *ngFor="let dataProvider of getFiltered()">
      <ul
        class="data-provider"
        [ngClass]="{ 'providers-showing': dataProvider.providersShowing }"
      >
        <li>
          <a
            class="name"
            [ngClass]="{ 'providers-loaded': !!dataProvider.providers }"
            (click)="
              showHide(dataProvider.name, !dataProvider.providersShowing)
            "
            >{{ dataProvider.name }}</a
          >
        </li>
        <li class="provider">
          <ul>
            <li *ngFor="let provider of dataProvider.providers">
              <a target="_blank" href="{{ getUrl(provider) }}">{{
                provider
              }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
