@charset "UTF-8";
@use "scss/reset";
@use "scss/mixins";
@use "scss/dropdown";
@use "scss/countries";
@use "scss/forms";
@use "scss/lists";
@use "scss/links";
@use "scss/headings";
@use "scss/headings_simple";
@use "scss/main";
@use "scss/speech-bubbles";
@use "scss/functions/icon_urls";
@use "scss/variables";

:root {
  --eu-cm-color-theme: #095f90;
  --eu-cm-color-theme-highlight: #4d4d4d; // = $eu-grey-dark
  --eu-cm-color-theme-middle: #ededed; // $offwhite
  --eu-cm-color-border-button-hover: #4d4d4d;
}

.eu-cm-wrapper .external-link {
  display: inline-block;
  position: relative;
  &::after {
    background-image: icon_urls.svg-url-icon-external(
      "#{variables.$stats-blue}"
    );
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    right: -19px;
    top: 5px;
  }

  &:hover::after {
    background-image: icon_urls.svg-url-icon-external(#4d4d4d);
  }
}
