@use "variables";
@use "functions/icon_urls";

.dialog-content {
  justify-content: center;
  padding: 24px;
  text-align: center;

  button {
    margin-top: variables.$spacing-l;
    padding: 8px;
  }

  .warn-icon {
    background-image: icon_urls.svg-url-icon-warning(variables.$stats-blue);
    background-position: center;
    display: block;
    height: 12px;
    margin-right: variables.$spacing-xs;
    width: 14px;
  }
}
