.icon-snapshot {
  background-size: contain;
  height: 34px;
  width: 34px;
}

.icon-snapshot {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgaGVpZ2h0PSczMDBweCcgd2lkdGg9JzMwMHB4JyAgZmlsbD0iIzAwMDAwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDk1LjE3NCAxMDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDk1LjE3NCAxMDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwb2x5Z29uIGZpbGw9IiMwMDAwMDAiIHBvaW50cz0iODguMzkzLDE2LjIzNyA4Mi42NTQsNTUuNjA3IDg0LjExNiw4Ni42MDggOTUuMTc0LDEwLjc4MiA4MC40MzYsOC42MzIgODAuNzQ1LDE1LjEyMSAJIj48L3BvbHlnb24+PHBvbHlnb24gZmlsbD0iIzAwMDAwMCIgcG9pbnRzPSIyMS4yNTMsMCAyMC4zNDEsNi4yNTYgNTMuNDQzLDQuNjk1IAkiPjwvcG9seWdvbj48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNODAuMzE3LDk2LjQwOUw3Ni4wODksNi44NjZMMC4zMTIsMTAuNDQxTDAsMTAuNDU3TDQuMjI2LDEwMGwwLjMxMi0wLjAxNUw4MC4zMTcsOTYuNDA5eiBNNzAuMzY1LDEzLjY0Ng0KCQlsMy4wMjEsNjQuMDI2TDkuMzU5LDgwLjY5M0w2LjMzOCwxNi42NjdMNzAuMzY1LDEzLjY0NnoiPjwvcGF0aD48L2c+PC9zdmc+);
}

.link-list + .icon-snapshot {
  display: none;
  left: 2px;
  position: relative;
  top: -5px;
}

.icon-snapshot:hover,
.link-list:hover + .icon-snapshot {
  display: block;
}

// list heading

.snapshots .icon-snapshot {
  display: none;
}

.snapshots .compare-data + .icon-snapshot {
  align-self: flex-end;
  cursor: pointer;
  display: block;
}

// list

.snapshots {
  margin: 24px 0;
  text-align: right;

  .comparison-list {
    //background: #fff;
    border-radius: 8px;
    //padding: 8px;
    display: inline-flex;
    //flex-direction: column-reverse;
    flex-direction: column;
  }
}

.compare-data {
  display: flex;
  justify-content: flex-end;
}

.compare-data-link-remove {
  margin-right: 8px;
}

.compare-data-link {
  border-style: solid;
  border-width: 0;

  font-size: 14px;

  &.applied {
    border-width: 1px;
    font-weight: 600;
  }
}

.comparison-list + .comparison-list {
  font-size: 8px;
}
