@use "functions/_icon_urls";
@use "_variables";

.dataset-name,
.icon {
  background-repeat: no-repeat;
  background-size: 18px auto;
  background-position: center;
}

// Filter Removal
.filters,
.rm-filters {
  .container-h {
    padding: variables.$spacing-s 0;
    .icon {
      align-self: flex-start;
      position: relative;
      top: variables.$spacing-xs;
    }
  }

  .filter-title {
    color: variables.$gray-faint;
    &.disabled {
      color: variables.$gray-5;
      cursor: default;
      pointer-events: none;
    }
  }

  .icon {
    display: block;
    height: variables.$width-icon-filter;
    margin-left: variables.$spacing-s;
    min-width: variables.$width-icon-filter;
  }
}

.filters {
  .checkbox-labelled:not(.chartFormat) {
    &:has(:focus),
    &:hover {
      background-color: variables.$offwhite;
    }
    &:has(:focus) {
      .checkmarked-checkbox::before {
        border: 1px solid variables.$eu-light-orange;
        background-position: -0.5px;
      }
    }
  }

  .info-icon {
    margin-left: variables.$spacing-s;
  }
}

.rm-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: variables.$spacing-m;

  .rm-filter {
    border-radius: 24px;
    color: variables.$white;
    padding: variables.$spacing-xs variables.$spacing-s;
    &:not(:last-child) {
      margin-right: 24px;
    }

    .checkbox-labelled {
      cursor: pointer;
    }
  }
}

.rm-filters {
  .contentTier {
    .checkmarked-checkbox {
      &::before {
        background-image: icon_urls.svg-url-icon-content-tier(variables.$white);
      }
    }
  }

  .metadataTier {
    .checkmarked-checkbox {
      &::before {
        background-image: icon_urls.svg-url-icon-metadata(variables.$white);
      }
    }
  }

  .country {
    .checkmarked-checkbox {
      &::before {
        background-image: icon_urls.svg-url-icon-flag(variables.$white);
      }
    }
  }

  .dataProvider {
    .checkmarked-checkbox {
      &::before {
        background-image: icon_urls.svg-url-icon-data-provider(
          variables.$white
        );
      }
    }
  }

  .datasetIds {
    .checkmarked-checkbox {
      &::before {
        background-image: icon_urls.svg-url-icon-dataset-id(variables.$white);
      }
    }
  }

  .provider {
    .checkmarked-checkbox {
      &::before {
        background-image: icon_urls.svg-url-icon-content-provider(
          variables.$white
        );
      }
    }
  }

  .rightsCategory {
    .checkmarked-checkbox {
      &::before {
        background-image: icon_urls.svg-url-icon-rights(variables.$white);
      }
    }
  }

  .type {
    .checkmarked-checkbox {
      &::before {
        background-image: icon_urls.svg-url-icon-types(variables.$white);
      }
    }
  }
}

// Icons

.filter-icon-home {
  background-image: icon_urls.svg-url-icon-home(variables.$gray-med);
}

.filter-icon-dataset {
  background-image: icon_urls.svg-url-icon-dataset-id(variables.$gray-med);
}

.disabled {
  .filter-icon-dataset {
    background-image: icon_urls.svg-url-icon-dataset-id(variables.$gray-5);
  }

  &.open .filter-icon-dataset {
    background-image: icon_urls.svg-url-icon-dataset-id(variables.$grey-3);
  }
}

.filter-icon-contentTier {
  background-image: icon_urls.svg-url-icon-content-tier(variables.$gray-med);
}

.disabled {
  .filter-icon-contentTier {
    background-image: icon_urls.svg-url-icon-content-tier(variables.$gray-5);
  }
  &.open .filter-icon-contentTier {
    background-image: icon_urls.svg-url-icon-content-tier(variables.$grey-3);
  }
}

.filter-icon-country {
  background-image: icon_urls.svg-url-icon-flag(variables.$gray-med);
}

.disabled {
  .filter-icon-country {
    background-image: icon_urls.svg-url-icon-flag(variables.$gray-5);
  }
  &.open .filter-icon-country {
    background-image: icon_urls.svg-url-icon-flag(variables.$grey-3);
  }
}

.filter-icon-dataProvider {
  background-image: icon_urls.svg-url-icon-data-provider(variables.$gray-med);
}

.disabled {
  .filter-icon-dataProvider {
    background-image: icon_urls.svg-url-icon-data-provider(variables.$gray-5);
  }
  &.open .filter-icon-dataProvider {
    background-image: icon_urls.svg-url-icon-data-provider(variables.$grey-3);
  }
}

.filter-icon-dates {
  background-image: icon_urls.svg-url-icon-calendar(variables.$gray-med);
}

.disabled {
  .filter-icon-dates {
    background-image: icon_urls.svg-url-icon-calendar(variables.$gray-5);
  }
  &.open .filter-icon-dates {
    background-image: icon_urls.svg-url-icon-calendar(variables.$grey-3);
  }
}

.filter-icon-metadataTier {
  background-image: icon_urls.svg-url-icon-metadata(variables.$gray-med);
}

.disabled {
  .filter-icon-metadataTier {
    background-image: icon_urls.svg-url-icon-metadata(variables.$gray-5);
  }
  &.open .filter-icon-metadataTier {
    background-image: icon_urls.svg-url-icon-metadata(variables.$grey-3);
  }
}

.filter-icon-provider {
  background-image: icon_urls.svg-url-icon-content-provider(
    variables.$gray-med
  );
}

.disabled {
  .filter-icon-provider {
    background-image: icon_urls.svg-url-icon-content-provider(
      variables.$gray-5
    );
  }
  &.open .filter-icon-provider {
    background-image: icon_urls.svg-url-icon-content-provider(
      variables.$grey-3
    );
  }
}

.filter-icon-rightsCategory {
  background-image: icon_urls.svg-url-icon-rights(variables.$gray-med);
}

.disabled {
  .filter-icon-rightsCategory {
    background-image: icon_urls.svg-url-icon-rights(variables.$gray-5);
  }
  &.open .filter-icon-rightsCategory {
    background-image: icon_urls.svg-url-icon-rights(variables.$grey-3);
  }
}

.filter-icon-type {
  background-image: icon_urls.svg-url-icon-types(variables.$gray-med);
}

.disabled {
  .filter-icon-type {
    background-image: icon_urls.svg-url-icon-types(variables.$gray-5);
  }
  &.open .filter-icon-type {
    background-image: icon_urls.svg-url-icon-types(variables.$grey-3);
  }
}

.mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline.mat-form-field-invalid
  .mat-form-field-outline {
  color: variables.$eu-red;
}

// today
.mat-calendar-body-cell:not(.mat-calendar-body-disabled) {
  &.mat-calendar-body-active:focus {
    .mat-calendar-body-cell-content:not(
        .mat-calendar-body-selected
      ).mat-focus-indicator {
      background-color: variables.$offwhite;
    }
  }
}

:root {
  --mat-datepicker-calendar-date-selected-state-background-color: #095f90;
  --mat-datepicker-calendar-date-in-range-state-background-color: #d8d8d8;
  --mat-datepicker-calendar-date-hover-state-background-color: #d8d8d8;
  --mdc-outlined-text-field-outline-color: #d8d8d8;
  --mdc-outlined-text-field-hover-outline-color: #095f90;
}
