@import "functions/_icon_urls";
@import "_variables";

$row-height: 32px;
$total-height: #{$row-height * 5};

.dataset-name,
.home-link,
.icon {
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.checkboxes-list {
  display: flex;
  flex-direction: column;
  margin-left: $spacing-s;
  max-height: $total-height;
  overflow: hidden;
  overflow-y: auto;
}

.filters {
  .container-h {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: $spacing-s;
    padding: $spacing-s 0;
  }

  .padded-left {
    margin-left: $spacing-s;
  }

  .ct-zero .checkmarked-checkbox {
    &::before {
      background-image: svg-url-icon-eye-disabled($gray-med);
    }
    &.checked::before {
      background-image: svg-url-icon-eye($gray-med);
    }
  }

  .filter-label {
    font-size: 14px;
    line-height: $row-height;
    margin: 0 $spacing-s;
    white-space: nowrap;
  }

  .icon {
    align-self: flex-start;
    display: block;
    height: $width-icon-filter;
    margin-left: $spacing-s;
    min-width: $width-icon-filter;
    position: relative;
    top: 3px;
  }
}

.ct-zero.icon {
  display: none;
}

/*
.home-link {
  background-image: svg-url-icon-home($gray-med);
}

.dataset-name {
  background-image: svg-url-icon-dataset-id($gray-med);
}
*/

.filter-icon-COUNTRY {
  background-image: svg-url-icon-flag($gray-med);
}

.filter-icon-DATA_PROVIDER {
  background-image: svg-url-icon-data-provider($gray-med);
}

.filter-icon-dates {
  background-image: svg-url-icon-calendar($gray-med);
}

.filter-icon-contentTier,
.filter-icon-metadataTier {
  background-image: svg-url-icon-metadata($gray-med);
}

.filter-icon-PROVIDER {
  background-image: svg-url-icon-content-provider($gray-med);
}

.filter-icon-RIGHTS {
  background-image: svg-url-icon-rights($gray-med);
}

.filter-icon-TYPE {
  background-image: svg-url-icon-types($gray-med);
}
