.page-title-wrapper {
  background: $offwhite;
  margin-bottom: 0;
  padding: 16px;
  position: sticky;
  top: 3em;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: $spacing-xs;
}

.target {
  border: 3px solid red;
  transform: translateX(33px);
}

:hover + .target {
  border-color: darken($textcolour_link, 15%) !important;
  &::after {
    background-color: darken($textcolour_link, 15%) !important;
  }
}
