.page-title-wrapper {
  background: $offwhite;
  padding: 16px;

  &.fit-to-page.minified {
    &:not(.viewable) {
      margin: 0 auto;
      padding: 0;
      height: 0;
      overflow: hidden;
    }
  }

  .page-title {
    display: none;
  }
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: $spacing-xs;
}
