.page-title-wrapper {
  background: $offwhite;
  margin-bottom: 0;
  padding: 16px;
  position: sticky;
  top: 3em;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: $spacing-xs;
}
