.page-title-wrapper {
  background: $offwhite;
  padding: 16px;
  display: grid;
  grid-template-rows: 1fr;
  position: absolute;
  left: 0;
  right: 0;

  &.fit-to-page.minified {
    $transition-time: 120ms;
    transition: grid-template-rows $transition-time linear,
      padding $transition-time linear, margin $transition-time linear;

    & > * {
      overflow: hidden;
    }

    &:not(.viewable) {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 16px;
      overflow: hidden;
      grid-template-rows: 0fr;
    }

    .page-title {
      display: none;
    }
  }
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: $spacing-xs;
}
