@use "sass:color";
@use "variables";

a {
  color: variables.$textcolour_link;
  text-decoration: none;

  &:hover {
    color: color.adjust(variables.$textcolour_link, $lightness: -15%);
    cursor: pointer;
  }
}
