@import "variables";

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

@-moz-document url-prefix() {
  body,
  html {
    scroll-behavior: auto;
  }
}

body {
  background: $offwhite;
  color: $textcolour_body;
  font: 16px / 1.6 $font-primary;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  word-wrap: break-word;
}

/* dashboard wrapper */
.dashboard-wrapper {
  background-color: $offwhite;
  display: inline-block;
  width: 100%;
}

.loading-modal::after {
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  opacity: 0.4;
  position: fixed;
  right: 0;
  transform: scale(5);
  top: 0;
}

.icon-clear {
  background-image: url("data:image/svg+xml,%3Csvg viewbox='0 0 32 32' fill='%23ff0000' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ecross%3C/title%3E%3Cpath d='M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z'%3E%3C/path%3E%3C/svg%3E");
  display: inline-block;
  filter: grayscale(100%);
  height: 32px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  transition: filter $transition-duration ease-in-out,
    opacity $transition-duration ease-in-out;
  width: 32px;

  &:hover {
    filter: grayscale(0);
    opacity: 1;

    // highlight items to remove
    & + .applied-filter-summary {
      li::before {
        color: red;
      }
    }
  }
}

@media (min-width: $bp-small-3) {
  .dashboard-wrapper {
    padding: 0 1.2rem;
    .statistics-dashboard {
      padding: 1rem;
    }
  }
}

@media (min-width: $bp-xl) {
  .dashboard-wrapper .statistics-dashboard {
    display: flex;
    .statistics-dashboard-left {
      flex-grow: 1;
      margin-right: 1rem;
      max-width: 40%;
    }
    .statistics-dashboard-right {
      flex-grow: 2;
      margin-left: 1rem;
    }
  }
}

.statistics-dashboard {
  .amcharts-amexport-menu-level-0.amcharts-amexport-top {
    margin-right: 1em;
    top: -40px;
  }
}

.am4-ctrls {
  display: flex;
  justify-content: space-around;
  margin: 1em 0 2em 0;

  input,
  label {
    display: inline-block;
  }

  select {
    display: block;
  }

  input[type="number"] {
    margin: 4px;
    width: 5em;
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.4;
    pointer-events: none;
  }

  .sub-group {
    display: flex;
    flex-direction: column;
  }
}

.offscreen {
  position: absolute;
  z-index: -1;
}
