@import "functions/_icon_urls";
@import "variables";
@import "home";

body,
html {
  scroll-behavior: smooth;
}

@-moz-document url-prefix() {
  body,
  html {
    scroll-behavior: auto;
  }
}

body {
  background: $offwhite;
  color: $textcolour_body;
  font: 16px / 1.6 $font-primary;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  word-wrap: break-word;
}

/* dashboard wrapper */
.dashboard-wrapper {
  background-color: $offwhite;
  display: inline-block;
  width: 100%;
}

.loading-modal::after,
.loading-modal::before {
  bottom: 0;
  content: " ";
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
}

.loading-modal::after {
  background-image: svg-url-icon-spinner(#{$stats-blue});
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(5);
}

.loading-modal::before {
  background-color: #000;
  opacity: 0.1;
}

.icon-clear {
  background-image: svg-url-icon-x($gray-med);
  display: inline-block;
  height: 32px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  transition: filter $transition-duration ease-in-out,
    opacity $transition-duration ease-in-out;
  width: 32px;

  &:hover {
    background-image: svg-url-icon-x($eu-red);
    opacity: 1;

    // highlight items to remove
    & + .applied-filter-summary {
      li::before {
        color: red;
      }
    }
  }
}

@media (min-width: $bp-small-3) {
  .dashboard-wrapper {
    padding: 0 1.2rem;
    .statistics-dashboard {
      padding: 1rem;
    }
  }
}

@media (min-width: $bp-xl) {
  .dashboard-wrapper .statistics-dashboard {
    display: flex;
    .statistics-dashboard-left {
      flex-grow: 1;
      margin-right: 1rem;
      max-width: 40%;
    }
    .statistics-dashboard-right {
      flex-grow: 2;
      margin-left: 1rem;
    }
  }
}

.statistics-dashboard {
  .amcharts-amexport-menu-level-0.amcharts-amexport-top {
    margin-right: 1em;
    top: -40px;
  }
}

.am4-ctrls {
  display: flex;
  justify-content: space-around;
  margin: 1em 0 2em 0;

  input,
  label {
    display: inline-block;
  }

  select {
    display: block;
  }

  input[type="number"] {
    margin: 4px;
    width: 5em;
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.4;
    pointer-events: none;
  }

  .sub-group {
    display: flex;
    flex-direction: column;
  }
}

.offscreen {
  position: absolute;
  z-index: -1;
}
