@use "./variables";

.printable-content {
  position: absolute;

  .data-grid {
    font-family: "Noto Sans", sans-serif;
  }
  .printable-title {
    color: variables.$stats-blue !important;
    font-size: 2.4em;
    font-weight: bold;
    margin-left: 0.4em;
    line-height: 1;
  }
}
