$white: #fff;
$offwhite: #ededed;

$gray-lightest: #f8f8f8;
$gray-light: #777;
$gray-med: #4d4d4d;
$gray-faint: #828282;
$gray-5: #d8d8d8;

/* Zeplin styleguide colours */

$grey-3: #999999;
$near-black: $gray-med;

$black: #1a1a1a;
$opacity-black: rgba(0, 0, 0, 0.7);
$opacity-gray-light: rgba(119, 119, 119, 0.6);
$opacity-gray-very-light: rgb(230, 230, 230);

$eu-red: #f22f24;
$eu-blue: #1676aa;
$eu-light-blue: #9ad3f2;
$eu-light-blue-orb: #79b2e3;
$eu-blue-link: #1a8ac7;
$eu-jade: #37b98b;
$eu-jade-light: #71c07b;
$eu-jade-dark: #197324;
$eu-light-jade: #a5e4ce;
$eu-orange: #d43900;
$eu-light-orange: #fc8a62;
$eu-raspberry: #e95a81;
$eu-purple: #b47da7;
$eu-yellow: #ffcb5c;
$blue-dark: #293745;
$linkblue: #095f90;
$accent: $eu-blue !default;

$textcolour_body: $near-black;
$textcolour_highlight: $accent;
$textcolour_link: $linkblue;
$text_secondary: $gray-light;

$transition-duration: 0.4s;

$font-primary: "Open Sans", "Arial", sans-serif;
$font-secondary: "Ubuntu", "Arial", sans-serif;

$font-size-slightly-smaller: 0.875em;
$font-size-sm: 0.75em;
$font-size-med: 1.2em;
$font-size-large: 1.6em;
$base-font-multiplier: 1;

/* Brand colours */
$brand-facebook: #03539e;
$brand-twitter: #35ccff;
$brand-linkedin: #217bc1;
$brand-pinterest: #b81621;
$brand-google: #e93f2e;
$brand-soundcloud: #ff5500;
$brand-tumblr: #35465c;
$brand-instagram: #ec5972;

$stats-blue: #0a72cc;

/* Layout */
$max-width: 1280px;
$offset-left-1: 4.5rem;

/* Breakpoints */
$bp-small: 24em;
$bp-small-2: 30em;
$bp-small-3: 40em;
$bp-med: 50em;
$bp-large: 60em;
$bp-xl: 70em;
$bp-xxl: 90em;

$bp-desktop: $bp-xl;
